{% INCLUDE '@oxpus_dlext/helpers/dl_mcp_header.html' %}

<h2>{{ lang('DL_MODCP_CAPPROVE') }}</h2>

{% if S_DL_MODCP_ACTION %}

<form action="{{ S_DL_MODCP_ACTION }}" method="post" id="dl_modcp">

<div class="panel">
	<div class="inner">
		
	<table class="table1">
		<thead>
		<tr>
			<th class="name">{{ lang('DL_DOWNLOAD') }} &bull; {{ lang('DL_CAT_NAME') }}</th>
			<th class="name">{{ lang('DL_COMMENT') }}</th>
			<th class="center" colspan="2">{{ lang('OPTIONS') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for approve_row in loops.approve_row %}
		<tr class="{% if approve_row.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
			<td>
				<label>{{ approve_row.DL_MINI_ICON }}&nbsp;<a href="{{ approve_row.U_DL_DOWNLOAD }}">{{ approve_row.DL_DESCRIPTION }}</a></label> &bull; <span><a href="{{ approve_row.U_DL_CAT_VIEW }}" class="small">{{ approve_row.DL_CAT_NAME }}</a></span>
			</td>
			<td><a href="{{ approve_row.U_DL_USER_LINK }}">{{ approve_row.DL_COMMENT_USERNAME }}</a><br><span class="small">{{ approve_row.DL_COMMENT_TEXT }}</span></td>
			<td class="center">
				<a href="{{ approve_row.U_DL_EDIT }}" title="{{ lang('DL_EDIT_FILE') }}" class="button button-icon-only">
					<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DL_EDIT_FILE') }}</span>
				</a>
			</td>
			<td class="center"><input type="checkbox" class="permissions-checkbox" name="dlo_id[]" value="{{ approve_row.DL_COMMENT_ID }}"></td>
		</tr>
		{% else %}
		<tr class="bg1"><td class="center" colspan="3"><b>{{ lang('DL_NO_CAPPROVE') }}</b></td></tr>
		{% endfor %}
		</tbody>
	</table>

	</div>
</div>

<ul class="linklist">
	<li class="rightside">
		<span><a href="#" class="dl-marklist" data-form="dl_modcp" data-field="dlo_id">{{ lang('MARK_ALL') }}</a> :: <a href="#" class="dl-unmarklist" data-form="dl_modcp" data-field="dlo_id">{{ lang('UNMARK_ALL') }}</a></span>
	</li>
</ul>

{% if loops.pagination|length or DL_TOTAL_DL %}
	<div class="pagination">
		{{ DL_TOTAL_DL }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ DL_PAGE_NUMBER }}
		{% endif %}
	</div>
{% endif %}

<fieldset class="submit-buttons">
	<input type="submit" name="delete" value="{{ lang('DL_DELETE') }}" class="button2">&nbsp;&nbsp;
	<input type="submit" name="submit" value="{{ lang('DL_APPROVE') }}" class="button1">
	{{ S_FORM_TOKEN }}
	{{ S_DL_HIDDEN_FIELDS }}
</fieldset>

</form>

{% else %}
<div class="panel">
	<div class="inner">
		<span>{{ lang('DL_NO_PERMISSION') }}</span>
	</div>
</div>
{% endif %}

<br>

{% INCLUDE '@oxpus_dlext/helpers/dl_mcp_footer.html' %}
