h<!-- INCLUDE dl_header.html -->

<!-- BEGIN downloads -->
<h2>{downloads.STATUS} <label>{downloads.DESCRIPTION}{downloads.HACK_VERSION} {downloads.MINI_IMG}</label></h2>
<!-- END downloads -->

<script type="text/javascript">
// <![CDATA[
var LANG_TOO_FEW_CHARS 		= '{L_TOO_FEW_CHARS}';
var LANG_L_NO_TEXT_SELECTED	= '{L_NO_TEXT_SELECTED}';
var	form_name 				= 'postform';
var	text_name 				= 'message';
// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js" ></script>

<form action="{S_FORM_ACTION}" method="post" id="postform" onsubmit="return checkQuickForm(this)">

	<div class="panel" id="postingbox">

		<div class="inner">
			<h3>{L_DL_COMMENT}</h3>
		</div>

		<br />

		<div><!-- INCLUDE posting_buttons.html --></div>

		<!-- IF .smiley -->
		<div id="smiley-box">
			<strong>{L_SMILIES}</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
			<br /><a href="{U_MORE_SMILIES}" onclick="window.open('{U_MORE_SMILIES}', '_blank', 'HEIGHT=200,resizable=yes,scrollbars=yes,WIDTH=400'); return false;">{L_MORE_SMILIES}</a>
		</div>
		<!-- ENDIF -->

		<div id="message-box">
			<textarea name="message" id="message" rows="13" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{COMMENT_TEXT}</textarea>
		</div>

		<br />

	</div>

	<div class="panel bg2">
		<div class="inner">

		<fieldset class="submit-buttons">
			<input type="submit" name="save" style="height: 28px;" class="button icon-button" value="{L_SUBMIT}" />&nbsp;&nbsp;<input type="submit" name="goback" style="height: 28px;" class="button icon-button" value="{L_CANCEL}" />
		</fieldset>

		</div>

		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>

</form>

<br />

<!-- INCLUDE dl_footer.html -->