<!-- INCLUDE dl_header.html -->

<h2 class="solo">{L_DL_STATS}</h2>

	<!-- IF S_LATEST_DOWNLOADS -->
	<h3>{L_DL_LATEST_DOWNLOADS}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_TIME}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_latest -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_latest.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_latest.U_FILE_LINK}" class="forumtitle">{top_ten_latest.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_latest.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;">{top_ten_latest.USER_LINK}<br /><span class="small">{top_ten_latest.DL_TIME}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_latest -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_LATEST_UPLOADS -->
	<h3>{L_DL_LATEST_UPLOADS}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_TIME}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_uploads -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_uploads.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_uploads.U_FILE_LINK}" class="forumtitle">{top_ten_uploads.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_uploads.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;">{top_ten_uploads.USER_LINK}<br /><span class="small">{top_ten_uploads.DL_TIME}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_uploads -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_DOWN_MONTH -->
	<h3>{L_DL_DOWNLOADS_CUR_MONTH}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_KLICKS}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_dl_cur_month -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_dl_cur_month.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_dl_cur_month.U_FILE_LINK}" class="forumtitle">{top_ten_dl_cur_month.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_dl_cur_month.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;"><span class="small">{top_ten_dl_cur_month.DL_KLICKS}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_dl_cur_month -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_DOWN_ALL -->
	<h3>{L_DL_DOWNLOADS_OVERALL}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_OVERALL_KLICKS}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_dl_overall -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_dl_overall.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_dl_overall.U_FILE_LINK}" class="forumtitle">{top_ten_dl_overall.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_dl_overall.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;"><span class="small">{top_ten_dl_overall.DL_KLICKS}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_dl_overall -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_TRAFFIC_MONTH -->
	<h3>{L_DL_TRAFFIC_CUR_MONTH}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_TRAFFIC_CUR_MONTH}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_traffic_cur_month -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_traffic_cur_month.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_traffic_cur_month.U_FILE_LINK}" class="forumtitle">{top_ten_traffic_cur_month.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_traffic_cur_month.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;"><span class="small">{top_ten_traffic_cur_month.DL_TRAFFIC}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_traffic_cur_month -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_TRAFFIC_ALL -->
	<h3>{L_DL_TRAFFIC_OVERALL}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block;">{L_DL_FILE_DESCRIPTION}</dd>
					<dd style="width: 20%; display: block;">{L_DL_TRAFFIC_OVERALL}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_traffic_overall -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_traffic_overall.POS}</dd>
					<dd style="width: 75%; display: block;"><a href="{top_ten_traffic_overall.U_FILE_LINK}" class="forumtitle">{top_ten_traffic_overall.DESCRIPTION}</a><br /><span>{L_DL_CAT_NAME}: {top_ten_traffic_overall.CAT_NAME}</span></dd>
					<dd style="width: 20%; display: block;"><span class="small">{top_ten_traffic_overall.DL_TRAFFIC}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_traffic_overall -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_DOWN_CLICKS -->
	<h3>{L_DL_DOWNLOADS_COUNT}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block; ">{L_USERNAME}</dd>
					<dd style="width: 20%; display: block; ">{L_DL_DOWNLOADS_COUNT}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_dl_counts -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_dl_counts.POS}</dd>
					<dd style="width: 75%; display: block; "><label>{top_ten_dl_counts.USER_LINK}</label></dd>
					<dd style="width: 20%; display: block; "><span class="small">{top_ten_dl_counts.DL_COUNTS}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_dl_counts -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_DOWN_TRAFFIC -->
	<h3>{L_DL_DOWNLOADS_TRAFFIC}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block; ">{L_USERNAME}</dd>
					<dd style="width: 20%; display: block; ">{L_TRAFFIC}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_dl_traffic -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_dl_traffic.POS}</dd>
					<dd style="width: 75%; display: block; "><label>{top_ten_dl_traffic.USER_LINK}</label></dd>
					<dd style="width: 20%; display: block; "><span class="small">{top_ten_dl_traffic.DL_TRAFFIC}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_dl_traffic -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_UP_COUNT -->
	<h3>{L_DL_UPLOADS_COUNT}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block; ">{L_USERNAME}</dd>
					<dd style="width: 20%; display: block; ">{L_DL_UPLOADS_COUNT}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_up_counts -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_up_counts.POS}</dd>
					<dd style="width: 75%; display: block; "><label>{top_ten_up_counts.USER_LINK}</label></dd>
					<dd style="width: 20%; display: block; "><span class="small">{top_ten_up_counts.DL_COUNTS}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_up_counts -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_TOP10_UP_TRAFFIC -->
	<h3>{L_DL_UPLOADS_TRAFFIC}</h3>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{DL_POS}</dd>
					<dd style="width: 75%; display: block; ">{L_USERNAME}</dd>
					<dd style="width: 20%; display: block; ">{L_TRAFFIC}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
			<!-- BEGIN top_ten_up_traffic -->
			<li class="row">
				<dl>
					<dd style="width: 5%; display: block; text-align: center;">{top_ten_up_traffic.POS}</dd>
					<dd style="width: 75%; display: block; "><label>{top_ten_up_traffic.USER_LINK}</label></dd>
					<dd style="width: 20%; display: block; "><span class="small">{top_ten_up_traffic.DL_TRAFFIC}</span></dd>
				</dl>
			</li>
			<!-- END top_ten_up_traffic -->
		</ul>
		</div>
	</div>
	<!-- ENDIF -->

<br />

<!-- INCLUDE dl_footer.html -->