<!-- INCLUDE dl_header.html -->

<h2 class="solo">{L_DL_MOD_TODO}</h2>

<!-- IF S_TODO_EDIT --><ul style="margin-top: -30px;" class="linklist"><li class="rightside"><a href="{U_TODO_EDIT}" style="height: 25px;" class="button icon-button">{L_DL_EDIT_FILE}</a></li></ul><br /><!-- ENDIF -->

<div class="forabg">
	<div class="inner">

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_DL_MOD_TODO}</dt>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
		<!-- BEGIN todolist_row -->
			<li class="row">
				<dl>
					<dt><a href="{todolist_row.FILE_LINK}" class="forumtitle">{todolist_row.FILENAME}</a>&nbsp;<span>{todolist_row.HACK_VERSION}</span><br /><div class="postbody"><div class="notice">{todolist_row.TODO}</div></div></dt>
				</dl>
			</li>
		<!-- END todolist_row -->
		<!-- IF S_NO_TODOLIST -->
			<li class="row"><dl><dt><span>{L_DL_NO_MOD_TODO}</span></dt></dl></li>
		<!-- ENDIF -->
		</ul>

	</div>
</div>

<br />

<!-- INCLUDE dl_footer.html -->