<!-- INCLUDE dl_header.html -->

<h2 class="solo">{L_DL_MOD_TODO}</h2>

<!-- IF S_NO_TODOLIST -->
<div class="panel"><strong>{L_DL_NO_MOD_TODO}</strong></div>
<!-- ELSE -->

<div class="forabg">
	<div class="inner">

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_DL_MOD_TODO}</dt>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
		<!-- BEGIN todolist_row -->
			<li class="row">
				<dl>
					<dt>
						<div class="posts">
						<a href="{todolist_row.FILE_LINK}" class="forumtitle">{todolist_row.FILENAME}</a>&nbsp;<span>{todolist_row.HACK_VERSION}</span>
						<ul class="post-buttons">
							<li>
								<a href="{todolist_row.U_TODO_EDIT}" title="{L_DL_EDIT_FILE}" class="button button-icon-only">
									<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_DL_EDIT_FILE}</span>
								</a>
							</li>
							<li>
								<a href="{todolist_row.U_TODO_DELETE}" title="{L_DL_DELETE}" class="button button-icon-only">
									<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_DL_DELETE}</span>
								</a>
							</li>
						</ul>
						</div>
						<div class="notice">{todolist_row.TODO}</div>
					</dt>
				</dl>
			</li>
		<!-- END todolist_row -->
		</ul>

	</div>
</div>
<!-- ENDIF -->

<!-- IF S_TODO_ADD -->
<br />

<form action="{S_FORM_ACTION}" method="post">

	<div class="panel">
		<div class="inner">

		<h3><!-- IF S_ADD_TODO -->{L_DL_TODO_ADD}<!-- ELSE -->{L_DL_TODO_EDIT}<!-- ENDIF --></h3>

		<fieldset>

		<table width="100%">
		<tr>
			<td style="width: 15%;"><strong>{DL_FILE_DESCRIPTION}</strong></td>
			<td style="width: 85%;">{S_DOWNLOAD}</td>
		</tr>
		<tr>
			<td style="width: 15%; vertical-align: top;"><strong>{L_DL_MOD_TODO}</strong></td>
			<td style="width: 85%;"><textarea name="todo" rows="10" cols="100" class="inputbox">{TODO_TEXT}</textarea></td>
		</tr>
		</table>

		</fieldset>

		</div>
	</div>

	<fieldset class="submit-buttons">
		<input type="submit" name="submit" value="{L_SUBMIT}" style="height: 28px;" class="button icon-button" />&nbsp;&nbsp;
		<input type="reset" name="reset" value="{L_RESET}" style="height: 28px;" class="button icon-button" />
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</fieldset>

</form>
<!-- ENDIF -->

<br />

<!-- INCLUDE dl_footer.html -->
