<!-- INCLUDE dl_header.html -->

<script type="text/javascript">
var phpEx = '{PHPEX}';
var dl_ajax_url = '{U_DL_AJAX}';
var active_cat = 0;
</script>
<!-- IF S_ENABLE_RATE -->
<script type="text/javascript" src="{EXT_DL_PATH_AJAX}ajax_dl.js"></script>
<!-- ENDIF -->
<script type="text/javascript" src="{EXT_DL_PATH_WEB}includes/js/dl_main.js"></script>

<!-- IF S_CAT_TRAFFIC -->
<div class="panel bg3">
	<div class="inner">

	<span><strong>{CAT_TRAFFIC}</strong></span>

	</div>
</div>
<!-- ENDIF -->

<!-- IF S_CAT_RULE -->
<div class="rules">
	<div class="inner">

	<span>{CAT_RULE}</span>

	</div>
</div>
<!-- ENDIF -->

<!-- BEGIN downloads -->
<h2 style="float: left;">{downloads.STATUS} {downloads.DESCRIPTION}{downloads.HACK_VERSION} {downloads.MINI_IMG}</h2>
<div style="float: right;"><a href="{U_DL_SEARCH}" class="button icon-button">{L_DL_SEARCH_DOWNLOAD}</a></div>
<br style="clear: both;" /><br /><br />
<!-- END downloads -->

<div class="action-bar bar-top">
<!-- BEGIN category -->
<a onclick="swap_options('{category.CAT_ID}');" class="button">
	<span>{category.CAT_NAME}</span> <i id="tab_{category.CAT_ID}" class="icon<!-- IF category.S_FIRST_ROW --> fa-eye fa-fw<!-- ENDIF -->" aria-hidden="true"></i>
</a>
<!-- END category -->
</div>

<div class="panel dlext" id="options0">
	
	<div class="tablewrap">

		<!-- BEGIN downloads -->

		<!-- IF downloads.LONG_DESC -->
		<br />
		<div class="postbody"><div class="content">{downloads.LONG_DESC}<br /><br /></div></div>
		<!-- ENDIF -->

		<div class="notice" style="text-align: center;">{downloads.ADD_USER} {downloads.CHANGE_USER}&nbsp;&bull;{downloads.LAST_TIME}</div>

		<!-- BEGIN thumbnail -->
		<!-- IF thumbnail.S_FIRST_ROW -->
		<br />
		<h3>{L_DL_IMAGES}:</h3>
		<ul style="list-style-type: none; overflow: hidden;">
		<!-- ENDIF -->
			<!-- IF S_DL_POPUPIMAGE -->
			<li style="float: left; margin-right: 2px;"><a href="{downloads.thumbnail.THUMBNAIL_LINK}" title="{downloads.thumbnail.THUMBNAIL_NAME}" rel="prettyPhoto[pp_gal]"><img src="{downloads.thumbnail.THUMBNAIL_LINK}" alt="{downloads.thumbnail.THUMBNAIL_NAME}" title="{downloads.thumbnail.THUMBNAIL_NAME}" style="max-weight: 150px; max-height: 100px;" /></a></li>
			<!-- ELSE -->
			<img src="{downloads.thumbnail.THUMBNAIL_LINK}" alt="{downloads.thumbnail.THUMBNAIL_NAME}" title="{L_DLdownloads.thumbnail.THUMBNAIL_NAME}" style="max-weight: 150px; max-height: 100px;" />
			<!-- ENDIF -->
		<!-- IF thumbnail.S_LAST_ROW -->
		</ul>
		<!-- ENDIF -->
		<!-- END thumbnail -->

		<!-- END downloads -->

	</div>
	
</div>

<div class="panel dlext noshow" id="options1">
	
	<div class="tablewrap">

		<!-- BEGIN downloads -->
		<br />

		<fieldset>
			<dl>
				<dt><label>{L_DL_FILE_NAME}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{downloads.FILE_NAME}</label></dd>
			</dl>
		<!-- BEGIN real_filetime -->
			<dl>
				<dt><label>{L_DL_REAL_FILETIME}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{downloads.real_filetime.REAL_FILETIME}</label></dd>
			</dl>
		<!-- END real_filetime -->
    	<!-- END downloads -->
		<!-- BEGIN hacklist -->
			<dl>
				<dt><label>{L_DL_HACK_AUTOR}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{hacklist.HACK_AUTHOR}{hacklist.HACK_AUTHOR_WEBSITE}</label></dd>
			</dl>
		<!-- END hacklist -->
		<!-- BEGIN downloads -->
		<!-- BEGIN bug_tracker -->
			<dl>
				<dt><label>{L_DL_BUG_TRACKER}</label></dt>
				<dd class="lastpost" style="display: block;"><label><a href="{downloads.bug_tracker.U_BUG_TRACKER}">{L_DL_BUG_TRACKER_FILE}</a></label></dd>
			</dl>
		<!-- END bug_tracker -->
		<!-- IF S_SHOW_TOPIC_LINK -->
			<dl>
				<dt><label>{L_TOPIC}</label></dt>
				<dd class="lastpost" style="display: block;"><label><a href="{U_TOPIC}">{L_VIEW_TOPIC}</a></label></dd>
			</dl>
		<!-- ENDIF -->
			<dl>
				<dt><label>{L_DL_FILE_SIZE}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{downloads.FILE_SIZE}</label></dd>
			</dl>
			<dl>
				<dt><label>{L_DL_KLICKS} / {L_DL_OVERALL_KLICKS}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{downloads.FILE_KLICKS} / {downloads.FILE_OVERALL_KLICKS}</label></dd>
			</dl>
		<!-- END downloads -->
		<!-- BEGIN hacklist -->
			<dl>
				<dt><label>{L_DL_HACK_DL_URL}</label></dt>
				<dd class="lastpost" style="display: block;"><label>{hacklist.HACK_DL_URL}</label></dd>
			</dl>
		<!-- END hacklist -->
		<!-- IF S_ENABLE_RATE -->
			<dl>
				<dt><label>{L_DL_RATING}</label></dt>
				<dd class="lastpost" style="display: block;"><div id="rating_{DF_ID}">{RATING_IMG}</div><div>{RATINGS}</div></dd>
			</dl>
		<!-- ENDIF -->
		</fieldset>

	</div>

    <br />
	
</div>

<!-- IF VER_TAB -->
<div class="panel dlext3 noshow" id="options2">

	<div class="tablewrap">

		<br />

		<!-- BEGIN ver_cell -->
		<!-- IF ver_cell.S_ROW_COUNT is even -->
		<dl>
		<!-- ENDIF -->
			<dt style="width: 50%; float: left;">
				<div class="postbody">
					<ul class="post-buttons">
    					<li class="rightside">
                            <a href="{ver_cell.U_VERSION}" title="{L_DL_DETAIL}" class="button button-icon-only">
                                <i class="icon fa-info fa-fw" area-hidden="true"></i><span>{L_DL_DETAIL}</span>
                            </a>
                        </li>
    					<!-- IF ver_cell.S_USER_PERM -->
    					<li class="rightside">
                            <a href="{ver_cell.U_VERSION_EDIT}" title="{L_DL_EDIT_FILE}" class="button button-icon-only">
                                <i class="icon fa-pencil fa-fw" area-hidden="true"></i><span>{L_DL_EDIT_FILE}</span>
                            </a>
                        </li>
    					<!-- ENDIF -->
					</ul>
					<div class="small-icon icon-mark"><a href="{ver_cell.U_VERSION}" class="forumtitle">{ver_cell.VER_TITLE}</a>
					<!-- IF not ver_cell.VER_ACTIVE and ver_cell.S_USER_PERM --> 
					&nbsp;<span style="color: #ff0000;" class="small"> &raquo; {L_DL_NOT_ACTIVE} &laquo; </span>
					<!-- ENDIF -->
                    </div>
					<div> {ver_cell.VER_TIME}</div>
					<div class="content">{ver_cell.VER_DESC} </div>
				</div>
			</dt>
		<!-- IF ver_cell.S_ROW_COUNT is not even or ver_cell.S_LAST_ROW -->
			<dd style="clear: both; margin: 10px 0 10px 0; border-bottom: 1px #aaaaaa dotted;"></dd>
		</dl>
		<!-- ENDIF -->
		<!-- END ver_cell -->

	</div>

</div>
<!-- ENDIF -->

<!-- IF S_MOD_LIST or S_MOD_TODO or S_DL_FIELDS -->
<div class="panel dlext3 noshow" id="options3">
	
	<div class="tablewrap">

		<!-- BEGIN modwarning -->
		<h3>{L_DL_MOD_WARNING}</h3>

		<p>{modwarning.MOD_WARNING}</p>
		<!-- END modwarning -->
		<!-- BEGIN modlisttest -->

		<br />

		<h3>{L_DL_MOD_TEST}</h3>

		<p>{modlisttest.MOD_TEST}</p>
		<!-- END modlisttest -->
		<!-- BEGIN modrequire -->

		<br />

		<h3>{L_DL_MOD_REQUIRE}</h3>

		<p>{modrequire.MOD_REQUIRE}</p>
		<!-- END modrequire -->
		<!-- BEGIN modtodo -->

		<br />

		<h3>{L_DL_MOD_TODO}</h3>

		<p>{modtodo.MOD_TODO}</p>
		<!-- END modtodo -->
		<!-- BEGIN modlistdesc -->

		<br />

		<h3>{L_DL_MOD_DESC}</h3>

		<p>{modlistdesc.MOD_DESC}</p>
		<!-- END modlistdesc -->

    	<!-- IF S_DL_FIELDS -->
		<br />
		<!-- BEGIN custom_fields -->

		<h3>{custom_fields.DL_FIELD_NAME}:</h3>

		<p>{custom_fields.DL_FIELD_VALUE}</p>

		<br />
		<!-- END custom_fields -->
    	<!-- ENDIF -->

	</div>
	
</div>
<!-- ENDIF -->

<!-- IF HASH_TAB -->
<div class="panel dlext3 noshow" id="options4">
	
	<div class="tablewrap">

    	<br />
    
    	<h3>{L_DL_MOD_FILE_HASH_TABLE}</h3>
    
    	<table class="table1">
    		<!-- BEGIN hash_row -->
    		<tr style="border: none;" class="row">
    			<td><label><strong>{hash_row.DL_VERSION}</strong></label></td>
    			<td>{hash_row.DL_FILE_NAME}</td>
    			<td>[{hash_row.DL_HASH_METHOD}] {hash_row.DL_HASH}</td>
    		</tr>
    		<!-- END hash_row -->
    	</table>

	</div>
	
</div>
<!-- ENDIF -->

<!-- IF S_COMMENTS_TAB -->
<div class="panel dlext3 noshow" id="options5">
	
	<div class="tablewrap">

		<br />

		<form action="{S_COMMENT_ACTION}" method="post">

		<fieldset>

			<!-- BEGIN comment_row -->
			<!-- IF comment_row.S_FIRST_ROW -->
			<ul class="topiclist">
			<!-- ENDIF -->
				<li style="border-right: 1px #aaaaaa solid; border-bottom: 1px #aaaaaa solid; padding: 5px 5px 10px 5px; background-color: #fafafa;" class="panel">
					<div>{comment_row.POSTER}<br />{comment_row.POST_TIME}</div>
                    <br />
					<div class="small">{comment_row.MESSAGE}</div>
					<!-- IF comment_row.EDITED_BY -->
					<div class="notice">{comment_row.EDITED_BY}</div>
                    <!-- ENDIF -->
				</li>
			<!-- IF comment_row.S_LAST_ROW -->
			</ul>
			<!-- ENDIF -->
			<!-- END comment_row -->

			<!-- IF S_VIEW_COMMENTS -->
			<fieldset style="text-align: right;" class="submit-buttons">
				<input type="submit" name="show" value="{L_DL_COMMENT_SHOW}" style="height: 28px;" class="button icon-button" />
				{S_HIDDEN_COMMENT_FIELDS}
			</fieldset>
			<!-- ENDIF -->

		</fieldset>

		</form>

		<!-- IF S_POST_COMMENT -->
		<form action="{S_COMMENT_POST_ACTION}" method="post">
		<fieldset style="text-align: right;" class="submit-buttons">
			<input type="submit" name="post" value="{L_DL_COMMENT_WRITE}" style="height: 28px;" class="button icon-button" />
			{S_HIDDEN_POST_FIELDS}
		</fieldset>
		</form>
		<!-- ENDIF -->

		<br />

	</div>
	
</div>
<!-- ENDIF -->

<div class="clearfix"></div>

<!-- IF S_FAV_BLOCK or S_EDIT_BUTTON or S_DL_BROKEN_CUR or S_REPORT_BROKEN_DL or S_DL_BROKEN_MOD -->
<div class="panel dlext4">
    <ul id="nav-breadcrumbs_detail" class="nav-breadcrumbs linklist" role="menubar">
    	<!-- IF S_FAV_BLOCK --><li data-last-responsive="true" class="leftside"><a href="{U_FAVORITE}"><i class="icon fa-bookmark<!-- IF not S_FAV_ACTIVE -->-o<!-- ENDIF --> fa-fw" aria-hidden="true"></i> <span>{FAVORITE}</span></a></li><!-- ENDIF -->
    	<!-- BEGIN report_broken_dl --><li data-last-responsive="true" class="leftside"><a href="{report_broken_dl.U_BROKEN_DOWNLOAD}"><i class="icon fa-bell fa-fw" aria-hidden="true"></i> <span>{L_DL_BROKEN}</span></a></li><!-- END report_broken_dl -->
    	<!-- IF S_DL_BROKEN_CUR --><li data-last-responsive="true" class="leftside"><b style="color: #FF0000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{L_DL_BROKEN_CUR}</b></li><!-- ENDIF -->
    	<!-- BEGIN dl_broken_mod --><li data-last-responsive="true" class="leftside"><a href="{dl_broken_mod.U_REPORT}"><i class="icon fa-bell-slash fa-fw" aria-hidden="true"></i> <span>{L_DL_BROKEN_MOD}</span></a></li><!-- END dl_broken_mod -->
    	<!-- IF S_EDIT_BUTTON --><li data-last-responsive="true" class="rightside"><a href="{U_EDIT}"><i class="icon fa-edit fa-fw" aria-hidden="true"></i> <span>{L_DL_EDIT_FILE}</span></a></li><!-- ENDIF -->
    	<!-- IF S_EDIT_THUMBS_BUTTON --><li data-last-responsive="true" class="rightside"><a href="{U_EDIT_THUMBS}"><i class="icon fa-photo fa-fw" aria-hidden="true"></i> <span>{L_DL_EDIT_THUMBS}</span></a></li><!-- ENDIF -->
    </ul>
</div>
<!-- ENDIF -->

<!-- BEGIN download_button -->
<br />
<div id="dl_mod_button">
<form action="{download_button.U_DOWNLOAD}" method="post" id="download" {download_button.S_DL_WINDOW} onsubmit="hide_dl_button();">

<ul class="linklist navlinks">
<!-- IF S_VC -->
<li class="panel dlbutton1">
<!-- IF CAPTCHA_TEMPLATE -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->
</li>
<!-- ENDIF -->
<li class="panel dlbutton2">
	<div>
		{download_button.S_DL_VERSION}&nbsp;<input type="image" src="{IMG_DL_BUTTON}" name="submit" id="submit" alt="{L_DL_DOWNLOAD}" title="{L_DL_DOWNLOAD}" />
		<input type="hidden" name="hotlink_id" value="{download_button.S_HOTLINK_ID}" />
		{download_button.S_HIDDEN_FIELDS}{S_HIDDEN_FIELDS}{S_FORM_TOKEN}
	</div>
</li>
</ul>

<!-- IF S_ALLOW_TRAFFICFREE_DOWNLOAD --><p style="text-align: center"><span style="color: #FF0000;">{L_DL_CAN_DOWNLOAD_TRAFFIC}</span></p><!-- ENDIF -->

</form>
</div>
<!-- END download_button -->

<!-- IF S_DL_USERBAN -->
<div class="rules">
	<div class="inner">

	<span>{L_DL_USER_BANNED}</span>

	</div>
</div>
<!-- ENDIF -->

<!-- BEGIN similar_dl -->
<!-- IF similar_dl.S_FIRST_ROW -->
<br /><h3>{L_DL_SIMILAR_DL}</h3>
<!-- ENDIF -->
<dl>
	<dt><a href="{similar_dl.U_DOWNLOAD}">{similar_dl.DOWNLOAD}</a></dt>
</dl>
<!-- END similar_dl -->

<!-- INCLUDE dl_footer.html -->