<br />

<div class="forabg">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt style="min-width: 60%;">{L_DL_CAT_NAME} / {L_DL_FILE_DESCRIPTION}</dt>
				<dd style="display: block;">{L_DL_DETAIL}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<!-- BEGIN subcats -->
		<li class="row">
			<dl>
				<dd style="width: 60%; display: block;"><span class="forum-image">{subcats.MINI_IMG}</span>
					<span class="forum-image"><!-- IF subcats.CAT_ICON --><img src="{subcats.CAT_ICON}" alt="" title="{subcats.CAT_NAME}" /><!-- ELSE -->&nbsp;<!-- ENDIF --></span>
					<a href="{subcats.U_CAT_VIEW}" class="forumtitle">{subcats.CAT_NAME}</a><br />
					<span class="small">{subcats.CAT_DESC}</span>
					<!-- IF .subcats.pagination -->
					<div class="pagination">
						<ul>
						<!-- BEGIN pagination -->
							<!-- IF subcats.pagination.S_IS_PREV -->
							<!-- ELSEIF subcats.pagination.S_IS_CURRENT --><li class="active"><span>{subcats.pagination.PAGE_NUMBER}</span></li>
							<!-- ELSEIF subcats.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
							<!-- ELSEIF subcats.pagination.S_IS_NEXT -->
							<!-- ELSE --><li><a href="{subcats.pagination.PAGE_URL}">{subcats.pagination.PAGE_NUMBER}</a></li>
							<!-- ENDIF -->
						<!-- END pagination -->
						</ul>
					</div>
					<!-- ENDIF -->
					<!-- BEGIN sub -->
					<hr />
					<!-- BEGIN sublevel_row -->
					<div>
						{subcats.sub.sublevel_row.M_SUBLEVEL}<!-- IF subcats.sub.sublevel_row.M_SUBLEVEL_ICON --><img src="{subcats.sub.sublevel_row.M_SUBLEVEL_ICON}" alt="" title="{subcats.sub.sublevel_row.L_SUBLEVEL}" /><!-- ENDIF --> &nbsp; <a href="{subcats.sub.sublevel_row.U_SUBLEVEL}" class="small" style="font-size: 8pt;"><strong>{subcats.sub.sublevel_row.L_SUBLEVEL}</strong></a><!-- IF subcats.sub.sublevel_row.SUBLEVEL_COUNT --> &nbsp; <span class="small">{subcats.sub.sublevel_row.SUBLEVEL_COUNT}</span><!-- ENDIF -->
					</div>
					<!-- END sublevel_row -->
					<!-- END sub -->
				</dd>
				<dd style="display: block;">
					<div><strong>{subcats.CAT_DL}</strong> {L_DL_CAT_FILES}</div>
				<!-- IF subcats.CAT_LAST_DL -->
                    <div><strong>{L_DL_LATEST_DOWNLOAD}</strong> <a href="{subcats.U_CAT_LAST_LINK}">{subcats.CAT_LAST_DL}</a></div>
                    <div><a href="{subcats.U_CAT_LAST_USER}">{subcats.CAT_LAST_USER}</a><!-- IF subcats.CAT_LAST_TIME -->&nbsp;&bull;&nbsp;{subcats.CAT_LAST_TIME}<!-- ENDIF --></div>
                </dd>
                <!-- ENDIF -->
			</dl>
		</li>
		<!-- END subcats -->
	</ul>

	</div>
</div>