{% if S_DL_POPUPIMAGE %}
<link type="text/css" rel="stylesheet" href="{{ EXT_DL_PATH_WEB }}vendor/prettyPhoto/css/prettyPhoto.css" media="screen" />
{% endif %}
<script type="text/javascript">
	var ajax_path = '{{ U_HELP_POPUP }}';
</script>
{% if S_TOTAL_IMAGES or S_DL_POPUPIMAGE %}
<script type="text/javascript">
	$(document).ready(function () {
		{% if S_DL_POPUPIMAGE %}
		$("a[rel^='prettyPhoto']").prettyPhoto({
			slideshow: false,
			social_tools: false
		});
		{% endif %}
	});
</script>
{% endif %}
{% if S_DL_DETAIL_JS %}
<script type="text/javascript">
	var phpEx = '{{ PHPEX }}';
	var dlAjaxUrl = '{{ U_DL_AJAX }}';
	var activeCat = {{ S_OPEN_PANEL }};
	var LANG_TOO_FEW_CHARS = '{{ lang('TOO_FEW_CHARS') }}';
	var LANG_L_NO_TEXT_SELECTED = '{{ lang('NO_TEXT_SELECTED') }}';
	var form_name = 'postform';
	var text_name = 'message';
</script>
{% endif %}
{% if S_DL_POPUPIMAGE %}
<script type="text/javascript" src="{{ EXT_DL_PATH_WEB }}vendor/prettyPhoto/js/jquery.prettyPhoto.js"></script>
{% endif %}
<script type="text/javascript" src="{{ EXT_DL_PATH_WEB }}assets/javascript/dl_footer.js"></script>
{% if S_ENABLE_DESC_HIDE %}
<script type="text/javascript" src="{{ EXT_DL_PATH_WEB }}assets/javascript/dl_index_desc.js"></script>
{% endif %}
{% if S_DL_DETAIL_JS %}
<script type="text/javascript" src="{{ EXT_DL_PATH_WEB }}assets/javascript/dl_main.js"></script>
{% endif %}
{% if S_ENABLE_RATE %}
<script type="text/javascript" src="{{ EXT_DL_PATH_WEB }}assets/javascript/ajax/ajax_dl.js"></script>
{% endif %}