<!-- IF U_DL_NAVI -->
<li data-last-responsive="true">
	<a href="{U_DL_NAVI}" title="{L_DOWNLOADS}" role="menuitem">
		<i class="icon fa-download fa-fw" aria-hidden="true"></i><span>{L_DOWNLOADS}</span>
	</a>
</li>
<!-- ENDIF -->
<!-- IF U_DL_HACKS_LIST -->
<li data-last-responsive="true">
	<a href="{U_DL_HACKS_LIST}" title="{L_DL_HACKS_LIST}" role="menuitem">
		<i class="icon fa-map fa-fw" aria-hidden="true"></i><span>{L_DL_HACKS_LIST}</span>
	</a>
</li>
<!-- ENDIF -->
<!-- IF U_DL_BUG_TRACKER -->
<li data-last-responsive="true">
	<a href="{U_DL_BUG_TRACKER}" title="{L_DL_BUG_TRACKER}" role="menuitem">
		<i class="icon fa-bug fa-fw" aria-hidden="true"></i><span>{L_DL_BUG_TRACKER}</span>
	</a>
</li>
<!-- ENDIF -->
