{% INCLUDECSS '@oxpus_dlext/dl_ext.css' %}
{% if S_DL_PLUPLOAD %}{% INCLUDECSS 'plupload.css' %}{% endif %}
{% if S_DL_POPUPIMAGE %}{% INCLUDECSS '@oxpus_dlext/3rdparty/prettyPhoto/css/prettyPhoto.css' %}{% endif %}
<script>
	var dl_help_path = '{{ U_DL_HELP_POPUP|e('js') }}';
{% if S_DL_ENABLE_RATE %}
	var phpEx = '{{ DL_PHPEX|e('js') }}';
	var dlAjaxUrl = '{{ U_DL_AJAX|e('js') }}';
{% endif %}
{% if S_DL_DETAIL_JS %}
	var activeCat = '{{ S_DL_OPEN_PANEL|e('js') }}';
{% endif %}
{% if U_DL_UNASSIGN %}
	var dlAjaxUnassignUrl = '{{ U_DL_UNASSIGN|e('js') }}';
{% endif %}
</script>
{% if S_DL_POPUPIMAGE %}{% INCLUDEJS '@oxpus_dlext/3rdparty/prettyPhoto/js/jquery.prettyPhoto.js' %}{% endif %}
{% INCLUDEJS '@oxpus_dlext/js/dl_footer.js' %}
{% INCLUDEJS '@oxpus_dlext/js/dl_help.js' %}
{% if S_DL_DETAIL_JS %}{% INCLUDEJS '@oxpus_dlext/js/dl_main.js' %}{% endif %}
{% if S_DL_ENABLE_RATE %}{% INCLUDEJS '@oxpus_dlext/js/dl_rate.js' %}{% endif %}
{% if S_TOTAL_IMAGES or S_DL_POPUPIMAGE or S_DL_CAPTCHA %}{% INCLUDEJS '@oxpus_dlext/js/pretty.js' %}{% endif %}
{% if U_DL_UNASSIGN %}{% INCLUDEJS '@oxpus_dlext/js/dl_unassign.js' %}{% endif %}
