<!-- IF S_DL_POPUPIMAGE -->
<link rel="stylesheet" href="{EXT_DL_PATH_WEB}includes/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
<!-- ENDIF -->
<script src="{EXT_DL_PATH_WEB}includes/js/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="{EXT_DL_PATH_WEB}includes/js/dl_footer.js" type="text/javascript"></script>
<!-- IF S_ENABLE_DESC_HIDE -->
<script src="{EXT_DL_PATH_WEB}includes/js/dl_index_desc.js" type="text/javascript"></script>
<!-- ENDIF -->

<!-- IF S_TOTAL_IMAGES or S_DL_POPUPIMAGE -->
<script type="text/javascript">
$(document).ready(function() {
	<!-- IF S_DL_POPUPIMAGE -->
	$("a[rel^='prettyPhoto']").prettyPhoto({
		slideshow: false,
		social_tools: false
	});
	<!-- ENDIF -->
});
</script>
<!-- ENDIF -->
