		<!-- IF S_NEW_DL_MESSAGE -->
		<div id="information" class="rules">
			<div class="inner">
				{NEW_DOWNLOAD_MESSAGE}
			</div>
		</div>
		<!-- ENDIF -->
		<!-- IF S_NEW_DL_POPUP -->
		<div id="dl_new_popup">
			<div class="dl_new_close">
				<li>
					<a href="#" title="{L_CLOSE}" class="button button-icon-only">
						<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_CLOSE}</span>
					</a>
				</li>
			</div>
			<div id="dl_new_content">
				<p style="text-align: justify;"><div style="text-align: center;"><span>{NEW_DOWNLOAD_MESSAGE}</span></div></p>
			</div>
		</div>
		
		<div id="dl_new_bg"></div>
		<!-- ENDIF -->
		<div id="dl_help_popup" style="display: none;">
			<div class="dl_help_close"></div>
			<div id="dl_help_content">
    			<h2 style="font-weight: bold;" id="dl_help_title">&nbsp;</h2>
    			<h2 id="dl_help_option">&nbsp;</h2>
    			<p id="dl_help_string">&nbsp;</p>
			</div>
		</div>
		
		<div id="dl_help_bg"></div>
