{% for dropdown in loops.dropdown %}
<select name="{{ dropdown.FIELD_IDENT }}" id="{{ dropdown.FIELD_IDENT }}">
	{% for options in dropdown.options %}<option value="{{ options.OPTION_ID }}"{{ options.SELECTED }}>{{ options.VALUE }}</option>{% endfor %}
</select>
{% endfor %}

{% for text in loops.text %}
<textarea name="{{ text.FIELD_IDENT }}" id="{{ text.FIELD_IDENT }}" rows="{{ text.FIELD_ROWS }}" cols="{{ text.FIELD_COLS }}" class="inputbox autowidth">{{ text.FIELD_VALUE }}</textarea>
{% endfor %}

{% for string in loops.string %}
<input type="text" class="inputbox autowidth" name="{{ string.FIELD_IDENT }}" id="{{ string.FIELD_IDENT }}" size="{{ string.FIELD_LENGTH }}" maxlength="{{ string.FIELD_MAXLEN }}" value="{{ string.FIELD_VALUE }}">
{% endfor %}

{% for bool in loops.bool %}
{% if bool.FIELD_LENGTH eq 1 %}
	{% for options in bool.options %}<label for="{{ bool.FIELD_IDENT }}_{{ options.OPTION_ID }}"><input type="radio" class="radio" name="{{ bool.FIELD_IDENT }}" id="{{ bool.FIELD_IDENT }}_{{ options.OPTION_ID }}" value="{{ options.OPTION_ID }}"{{ options.CHECKED }}> {{ options.VALUE }}</label> {% endfor %}
{% else %}
	<input type="checkbox" class="radio" name="{{ bool.FIELD_IDENT }}" id="{{ bool.FIELD_IDENT }}"{% if bool.FIELD_VALUE %} checked{% endif %}>
{% endif %}
{% endfor %}

{% for int in loops.int %}
<input type="text" class="inputbox autowidth" name="{{ int.FIELD_IDENT }}" id="{{ int.FIELD_IDENT }}" size="{{ int.FIELD_LENGTH }}" value="{{ int.FIELD_VALUE }}">
{% endfor %}

{% for date in loops.date %}
<label for="{{ date.FIELD_IDENT }}_day">{{ lang('DAY') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_day" id="{{ date.FIELD_IDENT }}_day">{{ date.S_DAY_OPTIONS }}</select></label> 
<label for="{{ date.FIELD_IDENT }}_month">{{ lang('MONTH') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_month" id="{{ date.FIELD_IDENT }}_month">{{ date.S_MONTH_OPTIONS }}</select></label> 
<label for="{{ date.FIELD_IDENT }}_year">{{ lang('YEAR') }}{{ lang('COLON') }} <select name="{{ date.FIELD_IDENT }}_year" id="{{ date.FIELD_IDENT }}_year">{{ date.S_YEAR_OPTIONS }}</select></label>
{% endfor %}
