{% INCLUDE 'overall_header.html' %}

<br>

<div class="panel">
	<div class="inner">

	<form action="{{ S_CONFIRM_ACTION }}" method="post" id="confirm">

	<fieldset>

		<h2 class="solo">{{ MESSAGE_TITLE }}</h2>

		<dl>
			<dt>{{ MESSAGE_TEXT }}</dt>
			<dd>
				<input type="submit" name="confirm" value="{{ lang('YES') }}" class="button1">
				<input type="submit" name="cancel" value="{{ lang('NO') }}" class="button2">
			</dd>
		</dl>

		{% if S_DL_DELETE_FILES_CONFIRM %}
		<dl>
			<dt><label>{{ lang('DL_DELETE_FILE_CONFIRM') }}</label></dt>
			<dd><input type="checkbox" class="permissions-checkbox" name="del_file" value="1"></dd>
		</dl>
		{% endif %}

		{% if S_DL_DELETE_TOPIC_CONFIRM %}
		<dl>
			<dt><label>{{ lang('DL_TOPIC_DROP_MODE') }}</label></dt>
			<dd>
				<input type="radio" class="checkbox" name="topic_drop_mode" id="tdmd" value="drop" checked><label for="tdmd">{{ lang('DL_TOPIC_DROP_MODE_DELETE') }}</label>
				<input type="radio" class="checkbox" name="topic_drop_mode" id="tdmc" value="close"><label for="tdmc">{{ lang('DL_TOPIC_DROP_MODE_CLOSE') }}</label>
			</dd>
		</dl>
		{% endif %}

		{{ S_FORM_TOKEN }}
		{{ S_HIDDEN_FIELDS }}

	</fieldset>

	</form>

	</div>
</div>

<br>

{% INCLUDE 'overall_footer.html' %}