services:
    oxpus.dlext.mcp_approve:
        class: oxpus\dlext\controller\mcp\mcp_approve
        public: true
        arguments:
            - '@notification_manager'
            - '@pagination'
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@language'
            - '@cache'
            - '@oxpus.dlext.core.auth'
            - '@oxpus.dlext.core.main'
            - '@oxpus.dlext.core.topic'
            - '@oxpus.dlext.helpers.constants'
            - '@oxpus.dlext.helpers.footer'
            - '%oxpus.dlext.tables.downloads%'
    oxpus.dlext.mcp_broken:
        class: oxpus\dlext\controller\mcp\mcp_broken
        public: true
        arguments:
            - '@notification_manager'
            - '@pagination'
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@language'
            - '@user'
            - '@oxpus.dlext.core.auth'
            - '@oxpus.dlext.core.main'
            - '@oxpus.dlext.helpers.constants'
            - '@oxpus.dlext.helpers.footer'
            - '%oxpus.dlext.tables.downloads%'
            - '%oxpus.dlext.tables.dl_reports%'
    oxpus.dlext.mcp_capprove:
        class: oxpus\dlext\controller\mcp\mcp_capprove
        public: true
        arguments:
            - '%core.root_path%'
            - '%core.php_ext%'
            - '@notification_manager'
            - '@pagination'
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@language'
            - '@oxpus.dlext.core.auth'
            - '@oxpus.dlext.core.main'
            - '@oxpus.dlext.helpers.constants'
            - '@oxpus.dlext.helpers.footer'
            - '%oxpus.dlext.tables.dl_comments%'
            - '%oxpus.dlext.tables.downloads%'
    oxpus.dlext.mcp_edit:
        class: oxpus\dlext\controller\mcp\mcp_edit
        public: true
        arguments:
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@user'
            - '@language'
            - '@oxpus.dlext.core.download'
            - '@oxpus.dlext.core.main'
            - '@oxpus.dlext.helpers.constants'
            - '@oxpus.dlext.helpers.footer'
            - '%oxpus.dlext.tables.downloads%'
    oxpus.dlext.mcp_manage:
        class: oxpus\dlext\controller\mcp\mcp_manage
        public: true
        arguments:
            - '%core.root_path%'
            - '%core.php_ext%'
            - '@cache'
            - '@notification_manager'
            - '@pagination'
            - '@dbal.conn'
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@language'
            - '@dispatcher'
            - '@filesystem'
            - '@oxpus.dlext.core.auth'
            - '@oxpus.dlext.core.counter'
            - '@oxpus.dlext.core.extra'
            - '@oxpus.dlext.core.files'
            - '@oxpus.dlext.core.main'
            - '@oxpus.dlext.core.topic'
            - '@oxpus.dlext.core.status'
            - '@oxpus.dlext.helpers.constants'
            - '@oxpus.dlext.helpers.footer'
            - '%oxpus.dlext.tables.dl_comments%'
            - '%oxpus.dlext.tables.dl_favorites%'
            - '%oxpus.dlext.tables.dl_fields_data%'
            - '%oxpus.dlext.tables.dl_images%'
            - '%oxpus.dlext.tables.dl_notraf%'
            - '%oxpus.dlext.tables.dl_ratings%'
            - '%oxpus.dlext.tables.dl_reports%'
            - '%oxpus.dlext.tables.dl_stats%'
            - '%oxpus.dlext.tables.dl_ver_files%'
            - '%oxpus.dlext.tables.dl_versions%'
            - '%oxpus.dlext.tables.downloads%'
            - '%oxpus.dlext.tables.dl_cat%'
