{% INCLUDE 'overall_header.html' %}

<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	doc_length = document.forms.create_dir.length;
	for (i = 0; i < doc_length; i++)
	{
		if (!document.forms.create_dir.elements[i].disabled)
		{
			document.forms.create_dir.elements[i].checked = status;
		}
	}
}
// ]]>
</script>

<h1>{{ lang('DL_MANAGE') }}</h1>

<p>{{ lang('DL_MANAGE_EXPLAIN') }}</p>

<form action="{{ S_MANAGE_ACTION }}" method="post" id="create_dir">

<fieldset class="quick">
	<input type="button" onclick="javascript:window.open('{{ U_DOWNLOADS_CHECK_FILES }}', '_self');" class="button1" value="{{ lang('DL_CHECK_FILE_SIZES') }}" />
	{% if S_CREATE_DIR_COMMAND %}&nbsp;&nbsp;&nbsp;<input type="submit" name="dircreate" class="button2" value="{{ lang('DL_MANAGE_CREATE_DIR') }}" />{{ lang('COLON') }}&nbsp;<input type="text" name="dir_name" size="30" maxlength="200" />{% endif %}
	{% if S_UNASSIGNED_FILES %}&nbsp;&nbsp;&nbsp;<input type="button" onclick="javascript:window.open('{{ U_UNASSIGNED_FILES }}', '_self');" class="button1" value="{{ lang('DL_UNASSIGNED_FILES') }}" />{% endif %}
	{% if S_THUMBNAIL_CHECK %}&nbsp;&nbsp;&nbsp;<input type="button" onclick="javascript:window.open('{{ U_DOWNLOADS_CHECK_THUMB }}', '_self');" class="button1" value="{{ lang('DL_CHECK_THUMBNAILS') }}" />{% endif %}
</fieldset>

<fieldset>

	<legend>{{ DL_NAVI }}</legend>

	{% for dirs_row in loops.dirs_row %}
	<dl>
		<dt><label>{{ dirs_row.DIR_LINK }}</label></dt>
		<dd><label>{{ dirs_row.DIR_DELETE_LINK }}</label></dd>
	</dl>
	{% endfor %}

	{% for files_row in loops.files_row %}
	<dl>
		<dt class="inner-list">{% if files_row.S_UNKNOWN_FILE %}<span class="dl-red">{{ lang('DL_UNKNOWN_FILE') }}</span>{% endif %}{{ files_row.FILE_NAME }}</dt>
		<dd>{{ files_row.FILE_EXIST }}</dd>
		<dd><span>{{ files_row.FILE_SIZE }}&nbsp;{{ files_row.FILE_SIZE_RANGE }}{% if files_row.FILE_NAME_REAL %}<br />{{ files_row.FILE_NAME_REAL }}{% endif %}</span></dd>
	</dl>
	{% endfor %}

	{% if S_EMPTY_FOLDER %}
	<p>
		<span>{{ lang('DL_MANAGE_EMPTY_FOLDER') }}</span>
	</p>
	{% endif %}

</fieldset>

{% if S_UNASSIGNED_FILES %}
<div class="dl-right">
	<a href="javascript:select_switch(true);" class="small">{{ lang('MARK_ALL') }}</a> &bull; <a href="javascript:select_switch(false);" class="small">{{ lang('UNMARK_ALL') }}</a>
</div>
<br class="clear" />
{% endif %}

{% for overall_size in loops.overall_size %}
<fieldset>

	<dl>
		<dt><label>{{ lang('DL_ALL') }}</label></dt>
		<dd><span>{{ overall_size.OVERALL_SIZE }}&nbsp;{{ overall_size.OVERALL_SIZE_RANGE }}</span></dd>
	</dl>

</fieldset>
{% endfor %}

{% for file_move_delete in loops.file_move_delete %}
<fieldset>

	<dl>
		<dt><label>{{ lang('DL_UNASSIGNED_FILES') }}</label></dt>
		<dd>{{ file_move_delete.S_FILE_ACTION }}&nbsp;&nbsp;<input type="submit" class="button2" name="file_action" value="{{ lang('DL_GO') }}" />{{ S_FORM_TOKEN }}</dd>
	</dl>

</fieldset>
{% endfor %}

</form>

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}