{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('TITLE') }}</h1>

<h2>{{ lang('TITLE_PAGE') }}</h2>

{% if S_ERROR %}
<div class="errorbox">
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

<div class="successbox">
	<p><strong>{{ lang('DOWNLOAD_PATH') }}{{ lang('COLON') }} {{ EXT_FILES_PATH }}</strong></p><p>{{ lang('DOWNLOAD_PATH_EXPLAIN') }}</p>
</div>

<form id="mode_select" method="post" action="{{ U_MODE_SELECT }}">
	<fieldset class="quick">
		{{ lang('SELECT_FORM') }}{{ lang('COLON') }} <select name="view" onchange="if (this.options[this.selectedIndex].value != '') this.form.submit();">{{ S_MODE_SELECT }}</select> <input class="button2" type="submit" value="{{ lang('GO') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<form id="acp_dl_config" method="post" action="{{ U_ACTION }}">

{% for options in loops.options %}
	{% if options.S_LEGEND %}
		{% if not options.S_FIRST_ROW %}
			</fieldset>
		{% endif %}
		<fieldset>
			<legend>{{ options.LEGEND }}</legend>
	{% else %}

		<dl>
			<dt><label for="{{ options.KEY }}">{{ options.TITLE }}{{ lang('COLON') }}</label>{% if options.S_EXPLAIN %}<br /><span>{{ options.TITLE_EXPLAIN }}</span>{% endif %}</dt>
			<dd>{% if options.HELP_KEY %}<a href="javascript:void(0)" onclick="javascript:help_popup('{{ options.HELP_KEY }}')">{{ ICON_DL_HELP }}</a>{% else %}&nbsp;{% endif %}&nbsp;&nbsp;{{ options.CONTENT }}</dd>
		</dl>

	{% endif %}
{% endfor %}

	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
		{{ S_HIDDEN_FIELDS }}
	</fieldset>

</form>

<br />

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}