{% INCLUDE 'overall_header.html' %}

<script type="text/javascript">
// <![CDATA[
	function select_switch(status)
	{
		for (i = 0; i < document.forms.dl_stats.length-12; i++)
		{
			document.forms.dl_stats.elements[i].checked = status;
		}
	}
// ]]>
</script>

<h1>{{ lang('DL_STATS') }}</h1>

<br />

{% if S_FILLED_FOOTER %}
<form action="{{ S_FORM_ACTION }}" method="post" id="dl_stats">

	<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<thead>
	<tr>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('DOWNLOADS') }}<br />{{ lang('DL_CAT_NAME') }}</th>
		<th>{{ lang('TRAFFIC') }}</th>
		<th>{{ lang('TIME') }}<br />{{ lang('DL_DIRECTION') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% for dl_stat_row in loops.dl_stat_row %}
	<tr>
		<td><span>{{ dl_stat_row.USERNAME }}</span></td>
		<td><b><a href="{{ dl_stat_row.U_DL_LINK }}">{{ dl_stat_row.DESCRIPTION }}</a></b><br /><a href="{{ dl_stat_row.U_CAT_LINK }}">{{ dl_stat_row.CAT_NAME }}</a></td>
		<td><span>{{ dl_stat_row.TRAFFIC }}</span></td>
		<td><time datetime="{{ dl_stat_row.TIME_STAMP_RFC }}">{{ dl_stat_row.TIME_STAMP }}</time><br /><span>{{ dl_stat_row.DIRECTION }}</span></td>
		<td><span>{{ dl_stat_row.USER_IP }}</span></td>
		<td><input type="checkbox" class="permissions-checkbox" name="del_id[{{ dl_stat_row.S_ROW_COUNT }}]" value="{{ dl_stat_row.ID }}" /></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	{% if loops.pagination|length or TOTAL_DL %}
		<div class="pagination">
			{{ TOTAL_DL }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}

	<p class="dl-text-right">
		<a href="javascript:select_switch(true);" class="small">{{ lang('MARK_ALL') }}</a> &bull; <a href="javascript:select_switch(false);" class="small">{{ lang('UNMARK_ALL') }}</a>
	</p>

<fieldset>

	<legend>{{ lang('DELETE') }}</legend>

	<dl>
		<dt><label>{{ lang('DL_GUEST_STAT_DELETE') }}</label></dt>
		<dd><input type="radio" class="permissions-checkbox" name="del_stat" value="2" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_ALL_STAT_DELETE') }}</label></dt>
		<dd><input type="radio" class="permissions-checkbox" name="del_stat" value="1" /></dd>
	</dl>

</fieldset>

<fieldset class="quick">
	<input type="submit" name="delete" value="{{ lang('DELETE') }}" class="button2" />
</fieldset>

<fieldset>

	<legend>{{ lang('DL_ORDER') }}</legend>

	<dl>
		<dt><label>{{ lang('SORT_BY') }}</label></dt>
		<dd>{{ S_SORT_ORDER }}&nbsp;{{ S_SORT_DIR }}</dd>
	</dl>

</fieldset>

<fieldset class="quick">
	<input type="submit" name="delete" value="{{ lang('DL_ORDER') }}" class="button2" />
</fieldset>

<fieldset>

	<legend>{{ lang('DL_FILTER') }}</legend>

	<dl>
		<dt><label>{{ S_FILTER }}</label></dt>
		<dd><input type="text" name="filter_string" value="{{ FILTER_STRING }}" size="30" maxlength="50" /><p>({{ lang('DL_FILTER_STRING') }})</p></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_GUEST_STATS_ADMIN') }}</label></dt>
		<dd><input type="checkbox" class="permissions-checkbox" name="show_guests" value="1" {{ S_SHOW_GUESTS }} /></dd>
	</dl>

</fieldset>

<fieldset class="quick">
	<input type="submit" name="delete" value="{{ lang('DL_FILTER') }}" class="button2" />
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% else %}

<br />

<p>
  	<span>{{ lang('DL_NO_LAST_TIME') }}</span>
</p>

{% endif %}

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}