{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_FILES_TITLE') }}</h1>

<br>

{% INCLUDE 'acp_dl_limits.html' %}

{% if DL_CAT > 0 %}
<form method="post" action="{{ S_DL_DOWNLOADS_ACTION }}" id="add_dl">

	<p class="submit-buttons">
		<input type="submit" class="button1" name="submit" value="{{ lang('ADD_NEW_DOWNLOAD') }}">
		<input type="hidden" name="action" value="add">
		{{ S_DL_HIDDEN_FIELDS }}
	</p>

</form>
{% else %}
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endif %}

<form action="{{ S_DL_DOWNLOADS_ACTION }}" method="post" id="cat_id">

<fieldset>

	<dl>
		<dt>
			<label>
				<select name="cat_id" class="dl-change-select" data-button="dl-cat-select-button">
					<option value="{{ DL_PERM_NONE }}">{{ lang('DL_CHOOSE_CATEGORY') }}</option>
					<option value="{{ DL_PERM_NONE }}">----------</option>
						{% for cat_select_row in loops.cat_select_row %}
						<option value="{{ cat_select_row.DL_CAT_ID }}"{% if cat_select_row.DL_SELECTED %} selected{% endif %}>{{ cat_select_row.DL_SEPERATOR }}{{ cat_select_row.DL_CAT_NAME }}</option>
						{% endfor %}
					</select>
			</label>
			<input type="submit" value="{{ lang('GO') }}" class="button1" id="dl-cat-select-button">{% if S_DL_LIST_DOWNLOADS %}&nbsp;<span>{{ DL_COUNT }}</span>{% endif %}
		</dt>
		{% if DL_CAT > 0 %}
		<dd>{% if S_DL_LIST_DOWNLOADS %}<a href="{{ U_DL_DOWNLOAD_ORDER_ALL }}">{{ lang('DL_SORT_BY') }}</a>{% else %}<span>{{ lang('DL_EMPTY_CATEGORY') }}</span>{% endif %}</dd>
		{% endif %}
	</dl>

</fieldset>

</form>

{% if S_DL_LIST_DOWNLOADS %}
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
<thead>
<tr>
	<th>#</th>
	<th>{{ lang('DL_NAME') }}<br>{{ lang('DL_FILE_NAME') }}</th>
	<th>{{ lang('DL_FILE_SIZE') }}</th>
	<th>{{ lang('DL_IS_FREE') }}<br>{{ lang('DL_EXTERN') }}</th>
	<th>{{ lang('DL_KLICKS') }}<br>{{ lang('DL_OVERALL_KLICKS') }}</th>
	<th>{{ lang('DL_TRAFFIC') }}<br>{{ lang('DL_HACKS_LIST') }}</th>
	<th>{{ lang('ACTION') }}</th>
</tr>
</thead>
<tbody>
{% for downloads in loops.downloads %}
<tr>
	<td><span>{{ downloads.DL_FILE_ID }}</span></td>
	<td>
		<span>{{ downloads.DL_TEST }} <strong>{{ downloads.DL_DESCRIPTION }}</strong>&nbsp;{{ downloads.DL_VERSION }}</span>
		<br>
		<span>{{ downloads.DL_FILE_NAME }}</span>
		<br>
		<span>{{ downloads.DL_UNAPPROVED }}</span>
	</td>
	<td><span>{{ downloads.DL_FILE_SIZE }}</span></td>
	<td><span>{{ downloads.DL_FILE_FREE_EXTERN }}</span></td>
	<td><span>{{ downloads.DL_FILE_KLICKS }}<br>{{ downloads.DL_OVERALL_KLICKS }}</span></td>
	<td><span>{{ downloads.DL_FILE_TRAFFIC }}<br>{{ downloads.DL_HACKLIST }}</span></td>
	<td>
		{% if downloads.S_FIRST_ROW && not downloads.S_LAST_ROW %}
		{{ ICON_MOVE_UP_DISABLED }}
		<a href="{{ downloads.U_DL_MOVE_DOWN }}" class="gensmall">{{ ICON_MOVE_DOWN }}</a>
		{% elseif not downloads.S_FIRST_ROW && not downloads.S_LAST_ROW%}
		<a href="{{ downloads.U_DL_MOVE_UP }}" class="gensmall">{{ ICON_MOVE_UP }}</a>
		<a href="{{ downloads.U_DL_MOVE_DOWN }}" class="gensmall">{{ ICON_MOVE_DOWN }}</a>
		{% elseif downloads.S_LAST_ROW && not downloads.S_FIRST_ROW %}
		<a href="{{ downloads.U_DL_MOVE_UP }}" class="gensmall">{{ ICON_MOVE_UP }}</a>
		{{ ICON_MOVE_DOWN_DISABLED }}
		{% else %}
		{{ ICON_MOVE_UP_DISABLED }}
		{{ ICON_MOVE_DOWN_DISABLED }}
		{% endif %}
		<a href="{{ downloads.U_DL_EDIT }}">{{ ICON_EDIT }}</a>
		<a href="{{ downloads.U_DL_DELETE }}" class="gensmall">{{ ICON_DELETE }}</a>
	</td>
</tr>
{% endfor %}
</tbody>
</table>
<br>
{% endif %}

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}