{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_CAT_TITLE') }}</h1>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form action="{{ S_CATEGORY_ACTION }}" method="post" id="dl_edit_cat">

<fieldset>

	<legend>{{ lang('DL_CAT_MODE') }}</legend>

	<dl>
		<dt><label>{{ lang('DL_CAT_NAME') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_NAME')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="cat_name" size="40" maxlength="255" value="{{ CAT_NAME }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_PARENT') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_PARENT')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;{{ CAT_PARENT }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_PATH') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_PATH')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;{{ S_CAT_PATH }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_DESCRIPTION') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_DESCRIPTION')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="description" rows="3" cols="40">{{ DESCRIPTION }}</textarea></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_ICON') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_ICON')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="cat_icon" size="40" maxlength="255" value="{{ CAT_ICON }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_RULES') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_RULES')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="rules" rows="3" cols="40">{{ RULES }}</textarea></dd>
	</dl>

</fieldset>

<fieldset>

	<dl>
		<dt><label>{{ lang('DL_COPY_PERMISSIONS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_COPY_PERMISSIONS')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;{{ PERMS_COPY_FROM }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MUST_APPROVE') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_MUST_APPROVE')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="must_approve" value="1" {{ MUST_APPROVE }} id="must_approve" /><label class="switch" for="must_approve">&nbsp;</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MOD_DESC_ALLOW') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_MOD_DESC_ALLOW')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="allow_mod_desc" value="1" {{ ALLOW_MOD_DESC }} id="allow_mod_desc" /><label class="switch" for="allow_mod_desc">&nbsp;</label></dd>
	</dl>

</fieldset>

<fieldset>

	<dl>
		<dt><label>{{ lang('DL_STATISTICS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_STATISTICS')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="statistics" value="1" {{ STATS }} id="statistics"  /><label class="switch" for="statistics">&nbsp;</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_STATS_PRUNE') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_STATS_PRUNE')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="stats_prune" value="{{ STATS_PRUNE }}" size="10" maxlength="8" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_COMMENTS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_COMMENTS')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="comments" value="1" {{ COMMENTS }}  id="comments" /><label class="switch" for="comments">&nbsp;</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_APPROVE_COMMENTS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_APPROVE_COMMENTS')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="approve_comments" value="1" {{ APPROVE_COMMENTS }} id="approve_comments"  /><label class="switch" for="approve_comments">&nbsp;</label></dd>
	</dl>
	{% if S_THUMNAILS %}
	<dl>
		<dt><label>{{ lang('DL_THUMB_CAT') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_THUMB_CAT')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="allow_thumbs" value="1" {{ ALLOW_THUMBS }} id="allow_thumbs"  /><label class="switch" for="allow_thumbs">&nbsp;</label></dd>
	</dl>
	{% endif %}
	<dl>
		<dt><label>{{ lang('DL_BUG_TRACKER_CAT') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_BUG_TRACKER_CAT')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="bug_tracker" value="1" {{ BUG_TRACKER }} id="bug_tracker" /><label class="switch" for="bug_tracker">&nbsp;</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CAT_TRAFFIC') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_CAT_TRAFFIC', '{{ lang('DL_CAT_TRAFFIC_HELP') }}')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="cat_traffic" size="10" maxlength="10" value="{{ CAT_TRAFFIC }}" />&nbsp;{{ S_CAT_TRAFFIC_RANGE }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_SHOW_FILE_HASH') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_SHOW_FILE_HASH')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="radio switch" name="show_file_hash" value="1" {{ SHOW_FILE_HASH }} id="show_file_hash" /><label class="switch" for="show_file_hash">&nbsp;</label></dd>
	</dl>

</fieldset>

{% if S_SET_USER_ON %}
<fieldset>

	<dl>
		<dt><label>{{ lang('DL_SET_ADD') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_SET_ADD')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<label>{{ S_SET_USER }}</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('SELECT') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_SET_ADD')" class="nav">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" id="set_user" name="set_user" value="{{ SET_USER }}" class="inputbox autowidth" size="32" /><br />&nbsp;&nbsp;&nbsp;[ <a href="{{ S_USER_SELECT }}" onclick="find_username(this.href); return false;" >{{ lang('FIND_USERNAME') }}</a> ]</dd>
	</dl>

</fieldset>
{% endif %}

{% if S_ENTER_TOPIC_FORUM %}
<fieldset>

	<dl>
		<dt><label>{{ lang('DL_TOPIC_FORUM_T') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_TOPIC_FORUM_C')">{{ ICON_DL_HELP }}</a>&nbsp;&nbsp;<label>{{ S_DL_TOPIC_FORUM }}</label></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_TOPIC_TEXT') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_TOPIC_TEXT')">{{ ICON_DL_HELP }}</a>&nbsp;&nbsp;<label><textarea cols="75" rows="5" class="inputbox autowidth" name="dl_topic_text">{{ TOPIC_TEXT }}</textarea></label></dd>
	</dl>
	{% if S_TOPIC_USER_ON %}
	<dl>
		<dt><label>{{ lang('DL_TOPIC_USER') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_TOPIC_USER')">{{ ICON_DL_HELP }}</a>&nbsp;&nbsp;<label>{{ S_DL_DIFF_TOPIC_USER }}</label><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="dl_topic_user" id="dl_topic_user" value="{{ TOPIC_USER }}" class="inputbox autowidth" size="32" /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ <a href="{{ S_USER_SELECT_2 }}" onclick="find_username(this.href); return false;" >{{ lang('FIND_USERNAME') }}</a> ]</dd>
	</dl>
	{% endif %}
	{% if S_TOPIC_DETAILS %}
	<dl>
		<dt><label>{{ lang('DL_TOPIC_DETAILS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_TOPIC_DETAILS_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;&nbsp;<label>{{ S_TOPIC_MORE_DETAILS }}</label></dd>
	</dl>
	{% endif %}
	<dl>
		<dt><label>{{ lang('POST_TOPIC_AS') }}</label></dt>
		<dd><a href="javascript:void(0)" onclick="javascript:help_popup('DL_TOPIC_TYPE')">{{ ICON_DL_HELP }}</a>&nbsp;&nbsp;<label>{{ S_TOPIC_TYPE }}</label></dd>
	</dl>

</fieldset>
{% endif %}

<fieldset class="quick">
	<input type="submit" name="save_cat" value="{{ lang('SUBMIT') }}" class="button1" />
	<input type="reset" name="reset" value="{{ lang('RESET') }}" class="button2" />
	{{ S_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}