<h3>{{ lang('DL_THUMB') }}</h3>

<form action="{{ S_DL_MANAGE_ACTION }}" method="post" id="thumbnails">

<fieldset>

	{% for thumbnails in loops.thumbnails %}
	<dl>
		<dt><label><a href="{{ thumbnails.U_DL_REAL_FILE }}" class="genmed">{{ thumbnails.DL_REAL_FILE }}</a></label></dt>
		<dd>
			{% if thumbnails.DL_CHECKBOX %}
			<input type="checkbox" class="permissions-checkbox" name="thumb[{{ thumbnails.DL_CHECKBOX }}]" value="{{ thumbnails.DL_REAL_FILE_CODE }}">
			{% else %}
			<input type="checkbox" class="permissions-checkbox" name="thumb[{{ thumbnails.DL_CHECKBOX }}]" value="" disabled="disabled">
			{% endif %}
			&nbsp;<span>{{ thumbnails.DL_FILE_SIZE }}</span>
		</dd>
	</dl>
	{% endfor %}

	<p class="quick">
		<span class="small"><a href="#" class="dl-marklist" data-form="thumbnails" data-field="thumb">{{ lang('MARK_ALL') }}</a> :: <a href="#" class="dl-unmarklist" data-form="thumbnails" data-field="thumb">{{ lang('UNMARK_ALL') }}</a></span>
	</p>

	<p class="submit-buttons">
		<input type="submit" class="button1" name="del_real_thumbs" value="{{ lang('DELETE') }}"><br><br>
		{{ S_FORM_TOKEN }}
	</p>

</fieldset>

</form>