{% INCLUDE 'overall_header.html' %}

<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	for (i = 0; i < document.forms.banlist.length; i++)
	{
		document.forms.banlist.elements[i].checked = status;
	}
}
// ]]>
</script>

<h1>{{ lang('DL_ACP_BANLIST') }}</h1>

<p>{{ lang('DL_ACP_BANLIST_EXPLAIN') }}</p>

<form action="{{ S_DOWNLOADS_ACTION }}" method="post" id="add_ban">

<fieldset>

	<legend>{{ BANLIST_ACTION }}</legend>

	<table width="100%" cellpadding="2" cellspacing="1">
	<thead>
	<tr>
		<th>{{ lang('DL_USER_ID') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('GUEST') }}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><input type="text" size="5" maxlength="8" name="user_id" value="{{ DL_USER_ID }}" /></td>
		<td><input type="text" size="15" maxlength="15" name="user_ip" value="{{ DL_USER_IP }}" /></td>
		<td><input type="text" size="25" maxlength="25" name="username" value="{{ DL_USERNAME }}" /></td>
		<td><input type="checkbox" class="radio switch" name="guests" value="1" {{ CHECKED }} id="guests" /><label class="switch" for="guests">&nbsp;</label></td>
	</tr>
	</tbody>
	</table>

</fieldset>

<fieldset class="quick">
	<input type="submit" class="button1" name="submit" value="{{ lang('SUBMIT') }}" />
	{{ S_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% if S_BAN_LIST %}
<form action="{{ S_DOWNLOADS_ACTION }}" method="post" id="banlist">

<fieldset>

	<table width="100%" cellpadding="2" cellspacing="1">
	<thead>
	<tr>
		<th>{{ lang('DL_USER_ID') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('GUEST') }}</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% for banlist_row in loops.banlist_row %}
	<tr>
		<td><span class="genmed">&nbsp;{{ banlist_row.USER_ID }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ banlist_row.USER_IP }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ banlist_row.USERNAME }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ banlist_row.GUESTS }}&nbsp;</span></td>
		<td><input type="checkbox" class="permissions-checkbox" name="ban_id[]" value="{{ banlist_row.BAN_ID }}" /></td>
	</tr>
	{% endfor %}
	<tr>
		<td></td>
	</tr>
	</tbody>
	</table>

	<p class="dl-text-right">
		<span><a href="javascript:select_switch(true);" class="small">{{ lang('MARK_ALL') }}</a> &bull; <a href="javascript:select_switch(false);" class="small">{{ lang('UNMARK_ALL') }}</a></span>
	</p>

</fieldset>

<fieldset class="quick">
	<input type="submit" name="edit_banlist" class="button1" value="{{ lang('EDIT') }}" />&nbsp;
	<input type="submit" name="delete_banlist" class="button2" value="{{ lang('DL_DELETE') }}" />
	{{ S_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% endif %}

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}