{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_STATS') }}</h1>

<br>

{% INCLUDE 'acp_dl_limits.html' %}

<br>

{% if S_DL_FILLED_FOOTER %}
<form action="{{ S_DL_FORM_ACTION }}" method="post" id="dl_stats">

	<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<thead>
	<tr>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('DL_DOWNLOADS') }}<br>{{ lang('DL_CAT_NAME') }}</th>
		<th>{{ lang('DL_TRAFFIC') }}</th>
		<th>{{ lang('TIME') }}<br>{{ lang('DL_DIRECTION') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% for dl_stat_row in loops.dl_stat_row %}
	<tr>
		<td><span>{{ dl_stat_row.DL_USERNAME }}</span></td>
		<td>
			<strong>
				<a href="{{ dl_stat_row.U_DL_LINK }}">{{ dl_stat_row.DL_DESCRIPTION }}</a>
			</strong>
			<br>
			<a href="{{ dl_stat_row.U_DL_CAT_LINK }}">{{ dl_stat_row.DL_CAT_NAME }}</a>
		</td>
		<td><span>{{ dl_stat_row.DL_TRAFFIC }}</span></td>
		<td>
			<time datetime="{{ dl_stat_row.DL_TIME_STAMP_RFC }}">{{ dl_stat_row.DL_TIME_STAMP }}</time>
			<br>
			<span>{{ dl_stat_row.DL_DIRECTION }}</span>
		</td>
		<td><span>{{ dl_stat_row.DL_USER_IP }}</span></td>
		<td><input type="checkbox" class="permissions-checkbox" name="del_id[{{ dl_stat_row.S_ROW_COUNT }}]" value="{{ dl_stat_row.DL_ID }}"></td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	{% if loops.pagination|length or DL_TOTAL_DL %}
		<div class="pagination">
			{{ DL_TOTAL_DL }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ DL_PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}

	<p class="dl-text-right">
		<span class="small">
			<a href="#" class="dl-marklist" data-form="dl_stats" data-field="del_id">{{ lang('MARK_ALL') }}</a> :: <a href="#" class="dl-unmarklist" data-form="dl_stats" data-field="del_id">{{ lang('UNMARK_ALL') }}</a>
		</span>
	</p>

	<fieldset>

		<legend>{{ lang('DELETE') }}</legend>

		<dl>
			<dt><label>{{ lang('DELETE_MARKED') }}</label></dt>
			<dd><input type="radio" class="permissions-checkbox" name="del_stat" value="0" checked></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('DL_GUEST_STAT_DELETE') }}</label></dt>
			<dd><input type="radio" class="permissions-checkbox" name="del_stat" value="2"></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('DL_ALL_STAT_DELETE') }}</label></dt>
			<dd><input type="radio" class="permissions-checkbox" name="del_stat" value="1"></dd>
		</dl>

	</fieldset>

	<fieldset class="quick">
		<input type="submit" name="delete" value="{{ lang('DELETE') }}" class="button2">
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

<form action="{{ S_DL_FORM_ACTION }}" method="post" id="dl_stats">

	<fieldset>

		<legend>{{ lang('DL_ORDER') }}</legend>

		<dl>
			<dt><label>{{ lang('SORT_BY') }}</label></dt>
			<dd>
				<select name="sorting">';
					<option value="username">{{ lang('USERNAME') }}</option>
					<option value="id">{{ lang('DL_DOWNLOADS') }}</option>
					<option value="cat">{{ lang('DL_CAT_NAME') }}</option>
					<option value="size">{{ lang('DL_TRAFFIC') }}</option>
					<option value="ip">{{ lang('DL_IP') }}</option>
					<option value="time">{{ lang('TIME') }}</option>
				</select>
				&nbsp;
				<select name="sort_order">
					<option value="ASC">{{ lang('ASCENDING') }}</option>
					<option value="DESC">{{ lang('DESCENDING') }}</option>
				</select>
			</dd>
		</dl>

	</fieldset>

	<fieldset class="quick">
		<input type="submit" name="delete" value="{{ lang('DL_ORDER') }}" class="button2">
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

<form action="{{ S_DL_FORM_ACTION }}" method="post" id="dl_stats">

	<fieldset>

		<legend>{{ lang('DL_FILTER') }}</legend>

		<dl>
			<dt>
				<select name="filtering">
					<option value="{{ DL_SELECT_NONE }}">{{ lang('DL_NO_FILTER') }}</option>
					<option value="username">{{ lang('USERNAME') }}</option>
					<option value="id">{{ lang('DL_DOWNLOADS') }}</option>
					<option value="cat">{{ lang('DL_CAT_NAME') }}</option>
				</select>
			</dt>
			<dd>
				<input type="text" name="filter_string" value="{{ DL_FILTER_STRING }}" size="30" maxlength="50">
				<p>({{ lang('DL_FILTER_STRING') }})</p>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('DL_GUEST_STATS_ADMIN') }}</label></dt>
			<dd>
				<input type="checkbox" class="radio switch" id="show_guests" name="show_guests" value="1"{% if S_DL_SHOW_GUESTS %} checked{% endif %}>
				<label class="switch" for="show_guests"></label>
			</dd>
		</dl>

	</fieldset>

	<fieldset class="quick">
		<input type="submit" name="delete" value="{{ lang('DL_FILTER') }}" class="button2">
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% else %}

<br>

<p>
  	<span>{{ lang('DL_NO_LAST_TIME') }}</span>
</p>

{% endif %}

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}