{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_TRAFFIC') }}</h1>

<br>

{% INCLUDE 'acp_dl_limits.html' %}

<div class="clearfix"></div>
<fieldset class="permissions">

	<div class="permissions-category">
		<ul>
			{% for category in loops.category %}
			<li class="permissions-preset-{% if S_DL_TRAFFIC_MANAGEMENT %}no{% else %}yes{% endif %}{% if category.S_FIRST_ROW %} activetab{% endif %}" id="tab{{ category.S_ROW_COUNT }}"><a href="#" class="dl_traffic_tabs" data-tab="{{ category.S_ROW_COUNT }}"><span class="tabbg"><span class="colour"></span>{{ category.DL_CAT_NAME }}</span></a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="permissions-panel" id="options0">
		<div class="tablewrap">

			<br>
			<strong>{{ lang('DL_AUTO_TRAFFIC_EXPLAIN') }}</strong>

			<form action="{{ S_DL_CONFIG_ACTION }}" method="post" id="auto_traffic">

			<fieldset>

				<legend>{{ lang('DL_USERS_WITHOUT_GROUP') }}</legend>

				<dl>
					<dt><label>{{ lang('DL_USER_AUTO_TRAFFIC') }}</label></dt>
					<dd>
						<input name="user_dl_auto_traffic" type="text" size="10" maxlength="50" value="{{ DL_USER_DL_AUTO_TRAFFIC }}">
						<select name="data_user_range">
							{% for data_range_select in loops.data_range_select %}
							<option value="{{ data_range_select.DL_VALUE }}"{% if data_range_select.DL_VALUE eq S_DL_USER_DATA_RANGE %} selected{% endif %}>{{ data_range_select.DL_LANG }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>

			</fieldset>

			{% if S_DL_GROUP_BLOCK %}
			<fieldset>

				<legend>{{ lang('DL_GROUP_AUTO_TRAFFIC') }}</legend>

				{% for group_row in loops.group_row %}
				<dl>
					<dt>{% if group_row.DL_GROUP_SPECIAL %}<strong>{{ group_row.DL_GROUP_NAME }}</strong>{% else %}{{ group_row.DL_GROUP_NAME }}{% endif %}</dt>
					<dd>
						<input name="group_dl_auto_traffic[{{ group_row.DL_GROUP_ID }}]" type="text" size="10" maxlength="50" value="{{ group_row.DL_GROUP_DL_AUTO_TRAFFIC }}">
						<select name="data_group_range[{{ group_row.DL_GROUP_ID }}]">
							{% for data_range_select in loops.data_range_select %}
							<option value="{{ data_range_select.DL_VALUE }}"{% if data_range_select.DL_VALUE eq group_row.S_DL_GROUP_DATA_RANGE %} selected{% endif %}>{{ data_range_select.DL_LANG }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				{% endfor %}

			</fieldset>

			<fieldset class="quick">
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1">
				{{ S_FORM_TOKEN }}
			</fieldset>
			{% endif %}

			</form>

		</div>
	</div>

	<div class="permissions-panel dl-noshow" id="options1">
		<div class="tablewrap">

			<form action="{{ S_DL_PROFILE_ACTION_ALL }}" method="post" id="all_traffic">

			<fieldset>

				<legend>{{ lang('DL_TRAFFIC_ALL_USERS_ADMIN_EXPLAIN') }}</legend>

				<dl>
					<dt><label>{{ lang('DL_USERS_TRAFFIC_TITLE') }}</label></dt>
					<dd>
						<input type="text" name="all_traffic" size="20" maxlength="40">
						<select name="traffic_range">
							{% for data_range_select in loops.data_range_select %}
							<option value="{{ data_range_select.DL_VALUE }}"{% if data_range_select.DL_VALUE eq S_DL_TRAFFIC_RANGE %} selected{% endif %}>{{ data_range_select.DL_LANG }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_FUNCTION') }}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="func" value="add"> {{ lang('DL_ADD') }}</label>
						<label><input type="radio" class="radio" name="func" value="set" checked> {{ lang('DL_SET') }}</label>
					</dd>
				</dl>

			</fieldset>

			<fieldset class="quick">
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1">
				{{ S_FORM_TOKEN }}
			</fieldset>

			</form>

		</div>
	</div>

	<div class="permissions-panel dl-noshow" id="options2">
		<div class="tablewrap">

			<form action="{{ S_DL_PROFILE_ACTION_USER }}" method="post" id="user_traffic">

			<fieldset>

				<legend>{{ lang('DL_TRAFFIC_SINGLE_USER_ADMIN_EXPLAIN') }}</legend>

				<dl>
					<dt><label>{{ lang('USERNAME') }}</label></dt>
					<dd>
						<input type="text" name="username" id="username" size="20" maxlength="32" value="">
						<br>
						[ <a href="#" class="dl-finduser" data-href="{{ U_DL_FIND_USERNAME }}">{{ lang('FIND_USERNAME') }}</a> ]
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_SINGLE_USER_TRAFFIC_TITLE') }}</label></dt>
					<dd><input type="text" name="user_traffic" size="20" maxlength="40">
						<select name="traffic_range">
							{% for data_range_select in loops.data_range_select %}
							<option value="{{ data_range_select.DL_VALUE }}"{% if data_range_select.DL_VALUE eq S_DL_TRAFFIC_RANGE %} selected{% endif %}>{{ data_range_select.DL_LANG }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_FUNCTION') }}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="func" value="add"> {{ lang('DL_ADD') }}</label>
						<label><input type="radio" class="radio" name="func" value="set" checked> {{ lang('DL_SET') }}</label></dd>
				</dl>

			</fieldset>

			<fieldset class="quick">
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1">
				{{ S_FORM_TOKEN }}
			</fieldset>

			</form>

			</div>
	</div>

	{% if S_DL_GROUP_BLOCK %}
	<div class="permissions-panel dl-noshow" id="options3">
		<div class="tablewrap">

			<form action="{{ S_DL_PROFILE_ACTION_GROUP }}" method="post" id="group_traffic">

			<fieldset>

				<legend>{{ lang('DL_TRAFFIC_USERGROUP_ADMIN_EXPLAIN') }}</legend>

				<dl>
					<dt><label>{{ lang('GROUPS') }}</label></dt>
					<dd>
						<select name="g">
							{% for group_select in loops.group_select %}
							<option value="{{ group_select.DL_VALUE }}"{% if group_select.DL_SPECIAL %} class="sep"{% endif %}>{{ group_select.DL_NAME }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_USERGROUP_TRAFFIC_TITLE') }}</label></dt>
					<dd><input type="text" class="post" name="group_traffic" size="20" maxlength="40">
						<select name="traffic_range">
							{% for data_range_select in loops.data_range_select %}
							<option value="{{ data_range_select.DL_VALUE }}"{% if data_range_select.DL_VALUE eq S_DL_TRAFFIC_RANGE %} selected{% endif %}>{{ data_range_select.DL_LANG }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_FUNCTION') }}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="func" value="add"> {{ lang('DL_ADD') }}</label>
						<label><input type="radio" class="radio" name="func" value="set" checked> {{ lang('DL_SET') }}</label>
					</dd>
				</dl>

			</fieldset>

			<fieldset class="quick">
				<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1">
				{{ S_FORM_TOKEN }}
			</fieldset>

			</form>

		</div>
	</div>
	{% endif %}

</fieldset>

<br>

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}