{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_FILES_TITLE') }}</h1>

{% if FORMATED_HINT_TEXT %}<fieldset class="dl-red-bg"><div>{{ FORMATED_HINT_TEXT }}</div></fieldset>{% endif %}

<form action="{{ S_DOWNLOADS_ACTION }}" method="post" id="cat_id" {{ ENCTYPE }}>

{% if S_EDIT_VERSIONS %}
<fieldset class="dl-grey-bg">

	<legend>{{ lang('DL_VERSION') }}</legend>

	<dl>
		<dt><label>{{ lang('DL_VERSION_ADD_NEW') }}</label></dt>
		<dd><input type="radio" name="file_ver_opt" class="radio" value="0" /></dd>
	</dl>

	<dl>
		<dt><label>{{ lang('DL_VERSION_ADD_OLD') }}</label></dt>
		<dd><input type="radio" name="file_ver_opt" class="radio" value="1" /></dd>
	</dl>

	<dl>
		<dt><label>{{ lang('DL_VERSION_REPLACE') }}</label></dt>
		<dd><input type="radio" name="file_ver_opt" class="radio" value="2" checked="checked" />&nbsp;&raquo;&nbsp;{{ S_SELECT_VERSION }}</dd>
	</dl>

	{% if S_SELECT_VER_DEL %}
	<dl>
		<dt><label>{{ lang('DL_VERSION_DELETE') }}</label></dt>
		<dd><input type="radio" name="file_ver_opt" class="radio" value="3" />&nbsp;&raquo;&nbsp;{{ S_SELECT_VER_DEL }}<br /><span class="hint">{{ lang('DL_VERSION_DELETE_EXPLAIN') }}</span></dd>
	</dl>
	{% endif %}

</fieldset>
{% endif %}

<fieldset>

	<legend>{{ ACTION_MODE }}</legend>

	<dl>
		<dt><label>{{ lang('DL_NAME') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_NAME_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="description" size="40" maxlength="255" value="{{ DESCRIPTION }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_CHOOSE_CATEGORY') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_CAT_NAME_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;{{ SELECT_CAT }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_FILE_DESCRIPTION') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_DESCRIPTION_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="long_desc" rows="4" cols="75">{{ LONG_DESC }}</textarea></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_FILES_URL') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('LINK_URL_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="file_name" size="40" maxlength="255" value="{{ URL }}" /><span class="small">{{ BLACKLIST_EXPLAIN }}</span></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_EXTERN') }}</label></dt>
		<dd>
			&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_EXTERN_EXPLAIN') }}');">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" class="permissions-checkbox" name="file_extern" {{ CHECKEXTERN }} value="1" />
			&nbsp;<input type="text" size="10" maxlength="20" name="file_extern_size" value="{{ FILE_EXT_SIZE }}" />&nbsp;{{ S_FILE_EXT_SIZE_RANGE }}
		</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_HACK_VERSION') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACK_VERSION_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="hack_version" size="10" maxlength="32" value="{{ HACK_VERSION }}" /></dd>
	</dl>

</fieldset>

{% EVENT dlext_acp_edit_file_after %}

{% if S_ALLOW_THUMB %}
<fieldset>

	<dl>
		<dt><label>{{ lang('DL_THUMB') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_THUMBNAIL_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;
			{% if S_SHOW_THUMB %}
			<br /><img src="{{ THUMBNAIL }}" alt="" title="" class="dl-thumb-max" />
			{% if S_DEL_THUMB %}<br /><label><input type="checkbox" class="radio" name="del_thumb" value="1" />&nbsp;{{ lang('DELETE') }}</label>{% endif %}
			<br />
			{% endif %}
			<input type="file" name="thumb_name" class="post" size="46" /><br />
			<span class="small">{{ DL_THUMBNAIL_SECOND }}</span>
		</dd>
	</dl>

</fieldset>
{% endif %}

<fieldset>

	<dl>
		<dt><label>{{ lang('DL_IS_FREE') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_IS_FREE_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;{{ S_FILE_FREE_SELECT }}</dd>
	</dl>
	{% if not S_DL_TRAFFIC %}
	<dl>
		<dt><label>{{ lang('DL_TRAFFIC') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_TRAFFIC_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="file_traffic" size="10" maxlength="10" value="{{ TRAFFIC }}" />&nbsp;{{ S_FILE_TRAFFIC_RANGE }}</dd>
	</dl>
	{% endif %}

</fieldset>

{% if S_USE_HACKLIST %}
<fieldset>

	<legend>{{ lang('DL_HACKS_LIST') }}</legend>

	<dl>
		<dt><label>{{ lang('DL_HACKLIST') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACKLIST_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;{{ S_HACKLIST_SELECT }}</dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_HACK_AUTOR') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACK_AUTHOR_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="hack_author" size="40" maxlength="255" value="{{ HACK_AUTHOR }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_HACK_AUTOR_EMAIL') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACK_AUTHOR_EMAIL_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="hack_author_email" size="40" maxlength="255" value="{{ HACK_AUTHOR_EMAIL }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_HACK_AUTOR_WEBSITE') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACK_AUTHOR_WEBSITE_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="hack_author_website" size="40" maxlength="255" value="{{ HACK_AUTHOR_WEBSITE }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_HACK_DL_URL') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_HACK_DL_URL_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="hack_dl_url" size="40" maxlength="255" value="{{ HACK_DL_URL }}" /></dd>
	</dl>

</fieldset>
{% endif %}

{% if S_USE_MOD_DESC or S_TODO_LINK_ONOFF %}
<fieldset>

	<legend>{{ lang('DL_MOD_LIST_SHORT') }}</legend>

	{% if S_USE_MOD_DESC %}
	<dl>
		<dt><label>{{ lang('DL_MOD_LIST') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_LIST_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" name="mod_list" {{ MOD_LIST }} value="1" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MOD_TEST') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_TEST_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="test" size="40" maxlength="50" value="{{ MOD_TEST }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MOD_REQUIRE') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_REQUIRE_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="text" name="require" size="40" maxlength="255" value="{{ MOD_REQUIRE }}" /></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MOD_DESC') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_DESC_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="mod_desc" rows="4" cols="75">{{ MOD_DESC }}</textarea></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_MOD_WARNING') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_WARNING_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="warning" rows="4" cols="75">{{ MOD_WARNING }}</textarea></dd>
	</dl>
	{% endif %}
	{% if S_TODO_LINK_ONOFF %}
	<dl>
		<dt><label>{{ lang('DL_MOD_TODO') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_MOD_TODO_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<textarea name="todo" rows="4" cols="75">{{ MOD_TODO }}</textarea></dd>
	</dl>
	{% endif %}

</fieldset>
{% endif %}

{% if not S_TODO_LINK_ONOFF %}
<div><input type="hidden" name="todo" value="{{ MOD_TODO }}" /></div>
{% endif %}

{% for download_fields in loops.download_fields %}
{% if download_fields.S_FIRST_ROW %}
<fieldset>
{% endif %}

	<dl>
		<dt><label{% if download_fields.FIELD_ID %} for="{{ download_fields.FIELD_ID }}"{% endif %}>{{ download_fields.LANG_NAME }}{{ lang('COLON') }}{% if download_fields.S_REQUIRED %} *{% endif %}</label>
		{% if download_fields.LANG_EXPLAIN %}<br /><span>{{ download_fields.LANG_EXPLAIN }}</span>{% endif %}</dt>
		{% if download_fields.ERROR %}<dd class="error">{{ download_fields.ERROR }}</dd>{% endif %}
		<dd>{{ download_fields.FIELD }}</dd>
	</dl>

{% if download_fields.S_LAST_ROW %}
</fieldset>
{% endif %}
{% endfor %}

<fieldset class="dl-grey-bg">

	<dl>
		<dt><label>{{ lang('DL_APPROVE') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_APPROVE_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" name="approve" {{ APPROVE }} value="1" /></dd>
	</dl>

	{% if S_CHANGE_TIME %}
	<dl>
		<dt><label>{{ lang('DL_NO_CHANGE_EDIT_TIME') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('CHANGE_TIME_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" name="change_time" value="1" /></dd>
	</dl>
	{% endif %}

	{% if S_CLICK_RESET %}
	<dl>
		<dt><label>{{ lang('DL_KLICKS_RESET') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('CLICK_RESET_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" name="click_reset" value="1" /></dd>
	</dl>
	{% endif %}

	{% if S_EMAIL_BLOCK %}
	<dl>
		<dt><label>{{ lang('DL_DISABLE_NOTIFY') }}</label></dt>
		<dd>&nbsp;<a href="javascript:void(0)" onclick="javascript:help_popup('{{ lang('DL_SEND_NOTIFY_EXPLAIN') }}')">{{ ICON_DL_HELP }}</a>&nbsp;<input type="checkbox" name="send_notify" value="1" /></dd>
	</dl>
	{% endif %}

</fieldset>

<fieldset class="quick">
	<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />&nbsp;<input type="reset" value="{{ lang('RESET') }}" class="button2" />
	{{ S_FORM_TOKEN }}
	{{ S_HIDDEN_FIELDS }}
</fieldset>

</form>

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}