{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('DL_ACP_BANLIST') }}</h1>

<p>{{ lang('DL_ACP_BANLIST_EXPLAIN') }}</p>

{% if U_DL_BACK %}
<p class="quick">
	<a href="{{ U_DL_BACK }}">&laquo;{{ lang('BACK') }}</a>
</p>
{% endif %}

<form action="{{ S_DL_DOWNLOADS_ACTION }}" method="post" id="add_ban">

<fieldset>

	<legend>{{ DL_BANLIST_ACTION }}</legend>

	<table width="100%" cellpadding="2" cellspacing="1">
	<thead>
	<tr>
		<th>{{ lang('DL_USER_ID') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('GUEST') }}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><input type="text" size="5" maxlength="8" name="user_id" value="{{ DL_USER_ID }}" /></td>
		<td><input type="text" size="15" maxlength="15" name="user_ip" value="{{ DL_USER_IP }}" /></td>
		<td><input type="text" size="25" maxlength="25" name="username" value="{{ DL_USERNAME }}" /></td>
		<td><input type="checkbox" class="radio switch" name="guests" value="1" {{ DL_CHECKED }} id="guests" /><label class="switch" for="guests">&nbsp;</label></td>
	</tr>
	</tbody>
	</table>

</fieldset>

<fieldset class="quick">
	<input type="submit" class="button1" name="submit" value="{{ lang('SUBMIT') }}" />
	{{ S_DL_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% if S_DL_BAN_LIST %}
<form action="{{ S_DL_DOWNLOADS_ACTION }}" method="post" id="banlist">

<fieldset>

	<table width="100%" cellpadding="2" cellspacing="1">
	<thead>
	<tr>
		<th>{{ lang('DL_USER_ID') }}</th>
		<th>{{ lang('DL_IP') }}</th>
		<th>{{ lang('USERNAME') }}</th>
		<th>{{ lang('GUEST') }}</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% for dl_banlist_row in loops.dl_banlist_row %}
	<tr>
		<td><span class="genmed">&nbsp;{{ dl_banlist_row.DL_USER_ID }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ dl_banlist_row.DL_USER_IP }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ dl_banlist_row.DL_USERNAME }}&nbsp;</span></td>
		<td><span class="genmed">&nbsp;{{ dl_banlist_row.DL_GUESTS }}&nbsp;</span></td>
		<td><input type="checkbox" class="permissions-checkbox" name="ban_id[]" value="{{ dl_banlist_row.DL_BAN_ID }}" /></td>
	</tr>
	{% endfor %}
	<tr>
		<td></td>
	</tr>
	</tbody>
	</table>

	<p class="dl-text-right">
		<a href="#" onclick="marklist('banlist', 'ban_id', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('banlist', 'ban_id', false); return false;">{{ lang('UNMARK_ALL') }}</a>
	</p>

</fieldset>

<fieldset class="quick">
	<input type="submit" name="edit_banlist" class="button1" value="{{ lang('EDIT') }}" />&nbsp;
	<input type="submit" name="delete_banlist" class="button2" value="{{ lang('DL_DELETE') }}" />
	{{ S_DL_HIDDEN_FIELDS }}
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% endif %}

<fieldset class="submit-buttons">{{ DL_MOD_RELEASE }}</fieldset>

{% INCLUDE 'overall_footer.html' %}