<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	for (i = 0; i < document.forms.extension.length; i++)
	{
		document.forms.extension.elements[i].checked = status;
	}
}
// ]]>
</script>

<h1>{{ lang('DL_EXT_BLACKLIST') }}</h1>

<p>{{ lang('DL_EXT_BLACKLIST_EXPLAIN') }}</p>

<form action="{{ S_DOWNLOADS_ACTION }}" method="post" id="add_ext">

<fieldset class="quick">
	<label><strong>{{ lang('DL_EXTENSION') }}</strong></label>&nbsp;
	<input type="text" name="extension" size="5" maxlength="10" value="" />&nbsp;
	<input type="submit" class="button1" name="submit" value="{{ lang('DL_ADD_EXTENSION') }}" />
	<input type="hidden" name="action" value="add" />
	{{ S_FORM_TOKEN }}
</fieldset>

</form>

{% if S_EXT_YES %}
<form action="{{ S_DOWNLOADS_ACTION }}" method="post" id="extension">

<fieldset>

	<legend>{{ lang('DL_EXTENSIONS') }}</legend>

	{% for extension_row in loops.extension_row %}
	<dl>
		<dt><label>{{ extension_row.EXTENSION }}</label></dt>
		<dd><input type="checkbox" class="permissions-checkbox" name="extension[]" value="{{ extension_row.EXTENSION }}" /></dd>
	</dl>
	{% endfor %}

</fieldset>

<fieldset class="quick">
	<div><a href="javascript:select_switch(true);" class="small">{{ lang('MARK_ALL') }}</a> :: <a href="javascript:select_switch(false);" class="small">{{ lang('UNMARK_ALL') }}</a></div>
	<br />
	<input type="submit" name="submit" class="button1" value="{{ lang('DL_DELETE') }}" /><br />
	<input type="hidden" name="action" value="delete" />
	{{ S_FORM_TOKEN }}
</fieldset>

</form>
{% endif %}
