<h1>{{ lang('DL_ACP_PERM_CHECK') }}</h1>

{% if S_DISPLAY_PERMS %}

<h2>{{ lang('USERS') }}{{ lang('COLON') }} {{ CHECK_USERNAME }}</h2>

<table cellspacing="1">
	<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
<thead>
<tr>
	<th>{{ lang('STATISTIC') }}</th>
	<th>{{ lang('VALUE') }}</th>
	<th>{{ lang('STATISTIC') }}</th>
	<th>{{ lang('VALUE') }}</th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{ lang('DL_PC_ADMIN') }}{{ lang('COLON') }}</td>
    <td>{% if USER_IS_ADMIN %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
    <td>{{ lang('DL_PC_BANNED') }}{{ lang('COLON') }}</td>
    <td>{% if USER_IS_BANNED %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
</tr>
<tr>
    <td>{{ lang('DL_PC_VIEW_STATS') }}{{ lang('COLON') }}</td>
    <td>{% if USER_CAN_VIEW_STATS %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
    <td>{{ lang('DL_PC_VIEW_TRACKER') }}{{ lang('COLON') }}</td>
    <td>{% if USER_CAN_SEE_TRACKER %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
</tr>
<tr>
    <td>{{ lang('DL_PC_HAVE_TRAFFIC') }}{{ lang('COLON') }}</td>
    <td>{{ USER_HAVE_TRAFFIC }}</td>
    <td>{{ lang('DL_PC_HAVE_POSTS') }}{{ lang('COLON') }}</td>
    <td>{{ USER_HAVE_POSTS }}</td>
</tr>
</tbody>
</table>

<h2>{{ lang('DL_CAT_TITLE') }}</h2>

<table cellspacing="1">
	<col class="col1" /><col class="col2" /><col class="col2" /><col class="col2" /><col class="col2" /><col class="col2" /><col class="col2" />
<thead>
<tr>
	<th>{{ lang('DL_CAT_NAME') }}</th>
	<th>{{ lang('DL_AUTH_VIEW') }}</th>
	<th>{{ lang('DL_AUTH_DL') }}</th>
	<th>{{ lang('DL_AUTH_UP') }}</th>
    <th>{{ lang('DL_AUTH_MOD') }}</th>
	<th>{{ lang('DL_AUTH_CREAD') }}</th>
    <th>{{ lang('DL_AUTH_CPOST') }}</th>
</tr>
</thead>
<tbody>
{% for cat_row in loops.cat_row %}
<tr>
    <td>{{ cat_row.CAT_NAME }}</td>
	<td>{% if cat_row.CAT_VIEW %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
	<td>{% if cat_row.CAT_DL %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
	<td>{% if cat_row.CAT_UP %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
    <td>{% if cat_row.CAT_MOD %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
	<td>{% if cat_row.CAT_CREAD %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
    <td>{% if cat_row.CAT_CPOST %}{{ lang('YES') }}{% else %}{{ lang('NO') }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}

<form action="{{ S_FORM_ACTION }}" id="select_user" method="post">

    <fieldset>

        <dl>
            <dt><label>{{ lang('USERNAME') }}</label></dt>
            <dd>
                <input type="text medium" name="check_user" id="check_user" size="20" maxlength="32" value="" />
                <br />
                [ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]
            </dd>
        </dl>

    </fieldset>

    <fieldset class="quick">
        <input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
    </fieldset>

    </form>

{% endif %}
