{% INCLUDE 'dl_header.html' %}

<h2>{{ lang('DL_BUG_TRACKER_REPORT') }}</h2>

<br />

<div class="panel">
	<div class="inner">

	<dl class="dl-width-100">
		<dd class="dl-left dl-width-75 dl-top">
			<div class="dl-width-95">
				<h3>{{ lang('DL_BUG_REPORT_TITLE') }}</h3>
				<div class="title">{{ REPORT_TITLE }}</div>
				<br />
				<h3>{{ lang('DL_BUG_REPORT_TEXT') }}</h3>
				<div class="message">{{ REPORT_TEXT }}</div>
			</div>
		</dd>
		<dd class="dl-right dl-width-25 dl-top">
			<h3>{{ lang('DL_BUG_REPORT_ID') }}</h3>
			<span class="value">{{ REPORT_ID }}</span>
			<h3>{{ lang('DL_BUG_REPORT_FILE') }}</h3>
			<span class="value"><a href="{{ U_DOWNLOAD_FILE }}" class="genmed">{{ REPORT_FILE }}</a></span>
			{% if REPORT_FILE_VER %}<h3>{{ lang('DL_HACK_VERSION') }}</h3>
			<span class="value">{{ REPORT_FILE_VER }}</span>{% endif %}
			<h3>{{ lang('DL_BUG_REPORT_DATE') }}</h3>
			<span class="value">{{ REPORT_DATE }}</span>
			<h3>{{ lang('DL_BUG_REPORT_AUTHOR') }}</h3>
			<span class="value">{{ REPORT_AUTHOR }}</span>
			{% if REPORT_PHP %}<h3>{{ lang('DL_BUG_REPORT_PHP') }}</h3>
			<span class="value">{{ REPORT_PHP }}</span>{% endif %}
			{% if REPORT_DB %}<h3>{{ lang('DL_BUG_REPORT_DB') }}</h3>
			<span class="value">{{ REPORT_DB }}</span>{% endif %}
			{% if REPORT_FORUM %}<h3>{{ lang('DL_BUG_REPORT_FORUM') }}</h3>
			<span class="value">{{ REPORT_FORUM }}</span>{% endif %}
			<h3>{{ lang('DL_BUG_REPORT_STATUS') }}</h3>
			<span class="value">{{ REPORT_STATUS }}</span>
			<h3>{{ lang('DL_BUG_REPORT_STATUS_DATE') }}</h3>
			<span class="value">{{ STATUS_DATE }}</span>
			{% for assign in loops.assign %}
			<h3>{{ lang('DL_BUG_REPORT_ASSIGNED') }}</h3>
			<span class="value">{{ assign.ASSIGN_TO }}</span>
			<h3>{{ lang('DL_BUG_REPORT_ASSIGN_DATE') }}</h3>
			<span class="value">{{ assign.ASSIGN_DATE }}</span>
			{% endfor %}
			{% if S_NO_ASSIGN %}
			<h3>{{ lang('DL_BUG_REPORT_UNASSIGNED') }}</h3>
			{% endif %}
			{% if S_ASSIGN_MOD %}
			<form action="{{ S_FORM_ASSIGN_ACTION }}" id="assign_user" method="post">
				<div>
						{{ S_SELECT_ASSIGN_USER }}&nbsp;
						<input type="submit" name="submit" value="{{ lang('DL_BUG_REPORT_ASSIGN') }}" class="button2" />
				</div>
				<div>{{ S_FORM_TOKEN }}</div>
			</form>
			{% endif %}
			<br />
			{% if U_BUG_REPORT_EDIT %}
			<ul class="post-buttons">
				<li>
					<a href="{{ U_BUG_REPORT_EDIT }}" title="{{ lang('DL_EDIT_FILE') }}" class="button button-icon-only">
						<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DL_EDIT_FILE') }}</span>
					</a>
				</li>
			</ul>
			{% endif %}
			{% for delete in loops.delete %}
			<ul class="post-buttons">
				<li>
					<a href="{{ delete.U_DELETE }}" title="{{ lang('DL_DELETE') }}" class="button button-icon-only">
						<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DL_DELETE') }}</span>
					</a>
				</li>
			</ul>
			{% endfor %}
		</dd>
	</dl>

	</div>
</div>

{% if S_SELECT_STATUS %}
<div class="panel bg2">
	<div class="inner">

	<form action="{{ S_FORM_STATUS_ACTION }}" method="post" id="status_change">

	<h3>{{ lang('DL_BUG_REPORT_STATUS') }}</h3>

	<ul class="linklist">
		<li>
			<dl>
				<dd>{{ S_SELECT_STATUS }}&nbsp;<input type="submit" name="submit" value="{{ lang('DL_BUG_REPORT_STATUS_UPDATE') }}" class="button2" /></dd>
				<dd><label>{{ lang('DL_BUG_REPORT_STATUS_TEXT') }}</label><br /><textarea cols="75" rows="3" class="inputbox" name="new_status_text"></textarea></dd>
			</dl>
		</li>
	</ul>

	<div>{{ S_FORM_TOKEN }}</div>

	</form>

	</div>
</div>
{% endif %}

{% if S_HISTORY %}
<div class="panel bg1">
	<div class="inner">

	<h3>{{ lang('DL_BUG_REPORT_HISTORY') }}</h3>

	<table cellpadding="0" cellspacing="0" class="table1">
	{% for history_row in loops.history_row %}
	<tr>
		<td class="row bg3 dl-width-15 dl-text-top"><label>{{ history_row.VALUE }}</label><br /><span class="small">{{ history_row.DATE }}</span></td>
		<td class="row bg2 dl-width-85 dl-text-top"><span>{{ history_row.TEXT }}</span></td>
	</tr>
	{% endfor %}
	</table>

	</div>
</div>
{% endif %}

<br />

{% INCLUDE 'dl_footer.html' %}
