{% if S_DL_MCP %}
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="clear"></div>
<br />

{% if S_FOOTER_LEGEND or S_FOOTER_STATS or U_LATEST_DOWNLOADS or U_DL_OVERALL_VIEW or S_STATS_VIEW_ON or S_TODO_LINK or S_DL_JUMPBOX %}
<div class="panel bg3">

{% if S_FOOTER_LEGEND %}
<div class="jumpbox button legend-footer" id="legend-footer"><i class="icon fa-map-signs fa-fw" aria-hidden="true"></i> <span>{{ lang('LEGEND') }}</span></div>
<div id="legend" class="footer-box"><a class="icon dl-close-footer" onclick="javascript:show_area('legend', false);"></a>
<h3>{{ lang('LEGEND') }}</h3>
<dl>
	<dt>
		<i class="icon fa-info-circle fa-fw dl-blue"></i> {{ lang('DL_BLUE_EXPLAIN_FOOT') }}<br />
		<i class="icon fa-ban fa-fw dl-red"></i> {{ lang('DL_RED_EXPLAIN') }}<br />
		<i class="icon fa-download fa-fw dl-green"></i> {{ lang('DL_GREEN_EXPLAIN') }}<br />
		<i class="icon fa-download fa-fw dl-grey"></i> {{ lang('DL_GREY_EXPLAIN') }}<br />
		<i class="icon fa-download fa-fw dl-yellow"></i> {{ lang('DL_YELLOW_EXPLAIN') }}<br />
		<i class="icon fa-download fa-fw dl-white"></i> {{ lang('DL_WHITE_EXPLAIN') }}<br />
		<i class="icon fa-comment-o fa-fw dl-red"></i> {{ lang('DL_NEW') }}<br />
		<i class="icon fa-edit fa-fw dl-blue"></i> {{ lang('DL_EDIT') }}<br />
 	</dt>
</dl>
</div>
{% endif %}

{% if S_FOOTER_STATS %}
<div class="jumpbox button stats-footer" id="stats-footer"><i class="icon fa-pie-chart fa-fw" aria-hidden="true"></i> <span>{{ lang('DL_FOOTER') }}</span></div>
<div id="footer" class="footer-box"><a class="icon dl-close-footer" onclick="javascript:show_area('footer', false);"></a>
<div class="small">
	{% if L_CAN_DOWNLOAD_AGAIN %}{{ lang('CAN_DOWNLOAD_AGAIN') }}<br />{% endif %}
	{% for userdata in loops.userdata %}{{ userdata.ACCOUNT_TRAFFIC }}<br />{% endfor %}
	{% for remain_traffic in loops.remain_traffic %}{{ remain_traffic.REMAIN_TRAFFIC }}<br />{% endfor %}
	{% for no_remain_traffic in loops.no_remain_traffic %}<strong class="dl-text-underline">{{ no_remain_traffic.NO_OVERALL_TRAFFIC }}</strong><br />{% endfor %}
	{% for remain_guest_traffic in loops.remain_guest_traffic %}{{ remain_guest_traffic.REMAIN_GUEST_TRAFFIC }}<br />{% endfor %}
	{% for no_remain_guest_traffic in loops.no_remain_guest_traffic %}<strong class="dl-text-underline">{{ no_remain_guest_traffic.NO_OVERALL_GUEST_TRAFFIC }}</strong><br />{% endfor %}
	{% if not S_HIDE_FOOTER_DATA and S_SERARATE_STATS %}<br />{% endif %}
	{% for total_stat in loops.total_stat %}{{ total_stat.TOTAL_STAT }}{% endfor %}
	{% if not S_HIDE_FOOTER_DATA %}<br />{% endif %}
    {% if EXT_STATS_OVERALL_TRAFFIC %}{{ EXT_STATS_OVERALL_TRAFFIC }}<br />{% endif %}
    {% if EXT_STATS_OVERALL_GUESTS_TRAFFIC %}{{ EXT_STATS_OVERALL_GUESTS_TRAFFIC }}<br />{% endif %}
    {% if EXT_STATS_MONTH_CLICKS %}{{ EXT_STATS_MONTH_CLICKS }}<br />{% endif %}
  	{% if not S_HIDE_FOOTER_DATA %}<br />{% endif %}
</div>
</div>
{% endif %}

{% if S_FOOTER_NAV_ON %}
{% if U_LATEST_DOWNLOADS %}<a href="{{ U_LATEST_DOWNLOADS }}" class="button icon-button"><i class="icon fa-plus-circle fa-fw" aria-hidden="true"></i> <span>{{ lang('DL_LATEST_DOWNLOADS') }}</span></a>&nbsp;{% endif %}
{% if U_DL_OVERALL_VIEW %}<a href="{{ U_DL_OVERALL_VIEW }}" class="button icon-button"><i class="icon fa-globe fa-fw" aria-hidden="true"></i> <span>{{ lang('DL_OVERVIEW') }}</span></a>&nbsp;{% endif %}
{% if S_STATS_VIEW_ON %}<a href="{{ U_DL_STATS }}" class="button icon-button"><i class="icon fa-bar-chart fa-fw" aria-hidden="true"></i> <span>{{ lang('DL_STATS') }}</span></a>&nbsp;{% endif %}
{% if S_TODO_LINK %}<a href="{{ U_DL_TODOLIST }}" class="button icon-button"><i class="icon fa-clipboard fa-fw" aria-hidden="true"></i> <span>{{ lang('DL_MOD_TODO') }}</span></a>{% endif %}
{% endif %}

{% if S_DL_JUMPBOX %}{% INCLUDE 'dl_jumpbox.html' %}{% endif %}

</div>
{% endif %}

{% if S_DL_MOD_OFFLINE_ADMINS %}
<br />
<div class="rules">
	<div class="inner">
		<strong>{{ lang('DL_OFF_MESSAGE_ADMIN') }}</strong>
	</div>
</div>
{% endif %}

{% for broken in loops.broken %}
<br />
<div class="panel dl-footer-alert">
	<div class="inner">
	<a href="{{ broken.U_BROKEN_DOWNLOADS }}" class="forumtitle">{{ broken.L_BROKEN_DOWNLOADS }}</a>
	</div>
</div>
{% endfor %}

{% for approve in loops.approve %}
<br />
<div class="panel dl-footer-alert">
	<div class="inner">
	<a href="{{ approve.U_APPROVE_DOWNLOADS }}" class="forumtitle">{{ approve.L_APPROVE_DOWNLOADS }}</a>
	</div>
</div>
{% endfor %}

{% for approve_comments in loops.approve_comments %}
<br />
<div class="panel dl-footer-alert">
	<div class="inner">
	<a href="{{ approve_comments.U_APPROVE_COMMENTS }}" class="forumtitle">{{ approve_comments.L_APPROVE_COMMENTS }}</a>
	</div>
</div>
{% endfor %}

<div class="clear"></div>

<div class="copyright">
	<strong>{{ DL_MOD_RELEASE }}</strong>
	{% if S_DL_TRANSLATION %}&bull;&nbsp;{{ lang('DL_TRANSLATION') }}{% endif %}
	{% if U_DL_RSS_FEED %}&bull;&nbsp;<a href="{{ U_DL_RSS_FEED }}">{{ lang('DL_ACP_CONF_RSS') }}</a>{% endif %}
</div>

{% endif %}

{% INCLUDE 'overall_footer.html' %}