{% INCLUDE 'dl_header.html' %}

<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	for (i = 0; i < document.forms.dl_modcp.length; i++)
	{
		document.forms.dl_modcp.elements[i].checked = status;
	}
}
// ]]>
</script>

<h2>{{ lang('DL_MODCP_CAPPROVE') }}</h2>

<br />

<form action="{{ S_DL_MODCP_ACTION }}" method="post" id="dl_modcp">

<div class="forabg">
	<div class="inner">

	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{{ lang('DL_DOWNLOAD') }}<br />{{ lang('DL_CAT_NAME') }}</dt>
				<dd class="lastpost">{{ lang('DL_COMMENT') }}</dd>
				<dd class="options">{{ lang('OPTIONS') }}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
	{% for approve_row in loops.approve_row %}
		<li class="row{% if approve_row.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
			<dl>
				<dt>
					<label>{{ approve_row.MINI_ICON }}&nbsp;<a href="{{ approve_row.U_DOWNLOAD }}">{{ approve_row.DESCRIPTION }}</a></label><br />
					<span><a href="{{ approve_row.U_CAT_VIEW }}" class="small">{{ approve_row.CAT_NAME }}</a></span>
				</dt>
				<dd class="lastpost"><a href="{{ approve_row.U_USER_LINK }}">{{ approve_row.COMMENT_USERNAME }}</a><br /><span class="small">{{ approve_row.COMMENT_TEXT }}</span></dd>
				<dd class="options">
					{% if approve_row.U_EDIT %}<a href="{{ approve_row.U_EDIT }}">{{ lang('DL_EDIT_FILE') }}</a>&nbsp;&nbsp;{% endif %}
					<input type="checkbox" class="permissions-checkbox" name="dlo_id[]" value="{{ approve_row.COMMENT_ID }}" />
				</dd>
 			</dl>
 		</li>
	{% endfor %}
	</ul>

	</div>
</div>

<ul class="linklist">
	<li class="rightside">
		<span><a href="javascript:select_switch(true);">{{ lang('DL_MARK_ALL') }}</a> :: <a href="javascript:select_switch(false);">{{ lang('DL_UNMARK') }}</a></span>
	</li>
</ul>

{% if loops.pagination|length or TOTAL_DL %}
	<div class="pagination">
		{{ TOTAL_DL }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
{% endif %}

<fieldset class="submit-buttons">
	<input type="submit" name="cdelete" value="{{ lang('DL_DELETE') }}" class="button icon-button" />&nbsp;&nbsp;
	<input type="submit" name="submit" value="{{ lang('DL_APPROVE') }}" class="button icon-button" />
	{{ S_FORM_TOKEN }}
	{{ S_HIDDEN_FIELDS }}
</fieldset>

</form>


<br />

{% INCLUDE 'dl_footer.html' %}
