{% INCLUDE 'dl_header.html' %}

<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	doc_length = '{{ MAX_DOWNLOADS }}';

	for (i = 0; i < doc_length; i++)
	{
		dl_file = document.getElementById('dlo_id_' + i);
		if (status)
		{
			dl_file.checked = 'checked';
		}
		else
		{
			dl_file.checked = '';
		}
	}
}
// ]]>
</script>

<h2>{{ lang('DL_MODCP_MANAGE') }}</h2>

{% if S_DL_MCP_OVERVIEW %}
<div class="panel">
	<div class="inner">
		<fieldset>
			<h3>{{ lang('DL_MODCP_BROKEN') }}</h3>
			{% for broken in loops.broken %}
			<a href="{{ broken.U_BROKEN_DOWNLOADS }}" class="forumtitle">{{ broken.L_BROKEN_DOWNLOADS }}</a>
			{% else %}
			{{ lang('DL_NO_LAST_TIME') }}
			{% endfor %}
		</fieldset>
	</div>
</div>
<div class="panel">
	<div class="inner">
		<fieldset>
			<h3>{{ lang('DL_MODCP_APPROVE') }}</h3>
			{% for approve in loops.approve %}
			<a href="{{ approve.U_APPROVE_DOWNLOADS }}" class="forumtitle">{{ approve.L_APPROVE_DOWNLOADS }}</a>
			{% else %}
			{{ lang('DL_NO_APPROVE') }}
			{% endfor %}
		</fieldset>
	</div>
</div>
<div class="panel">
	<div class="inner">
		<fieldset>
			<h3>{{ lang('DL_MODCP_CAPPROVE') }}</h3>
			{% for approve_comments in loops.approve_comments %}
			<a href="{{ approve_comments.U_APPROVE_COMMENTS }}" class="forumtitle">{{ approve_comments.L_APPROVE_COMMENTS }}</a>
			{% else %}
			{{ lang('DL_NO_CAPPROVE') }}
			{% endfor %}
		</fieldset>
	</div>
</div>
{% endif %}


{% if S_DL_MCP_TOOLBOX %}

{% if S_SELECT_MCP_CAT %}

<div class="panel">
	<div class="inner">
		{S_SELECT_MCP_CAT}
	</div>
</div>
	
<form method="post" id="select_user" action="{{ S_DL_MODCP_ACTION }}" >

<div class="panel">
	<div class="inner">

	<table class="table1 zebra-list">
		<thead>
		<tr>
			<th class="name">{{ lang('DL_DOWNLOAD') }}</th>
			<th class="name">{{ lang('DL_HACK_AUTOR') }}</th>
			<th class="center">{{ lang('OPTIONS') }}</th>
		</tr>
		</thead>
		<tbody>
		{% for manage_row in loops.manage_row %}
		<tr{% if manage_row.BROKEN %} class="dl-reported"{% endif %}>
			<td>{{ manage_row.MINI_ICON }}&nbsp;<a href="{{ manage_row.U_DOWNLOAD }}" class="forumtitle">{{ manage_row.DESCRIPTION }}</a></dt>
			<td>{{ manage_row.USERNAME }}</dd>
			<td class="center">
				&nbsp;<input type="checkbox" class="permissions-checkbox" name="dlo_id[]" id="dlo_id_{{ manage_row.S_ROW_COUNT }}" value="{{ manage_row.FILE_ID }}" />&nbsp;
				{% if SORT %}
				&nbsp;<a href="{{ manage_row.U_UP }}" class="button button-icon-only"><i class="icon fa-chevron-up fa-fw" aria-hidden="true" title="{{ lang('DL_UP') }}"></i><span class="sr-only">{{ lang('DL_UP') }}</span></a>
				&nbsp;<a href="{{ manage_row.U_DOWN }}" class="button button-icon-only"><i class="icon fa-chevron-down fa-fw" aria-hidden="true" title="{{ lang('DL_DOWN') }}"></i><span class="sr-only">{{ lang('DL_DOWN') }}</span></a>
				{% endif %}
				&nbsp;<a href="{{ manage_row.U_EDIT }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true" title="{{ lang('DL_EDIT_FILE') }}"></i><span class="sr-only">{{ lang('DL_EDIT_FILE') }}</span></a>
			</td>
		</tr>
		{% else %}
		<tr class="bg1"><td class="center" colspan="3"><b>{L_DL_EMPTY_CATEGORY}</b></td></tr> 
		{% endfor %}
		</tbody>
	</table>

	<ul class="linklist">
		<li class="rightside">
			<span>{% if S_SORT_ASC %}<a href="{{ U_SORT_ASC }}">{{ DL_ABC }}</a> &bull; {% endif %}<a href="javascript:select_switch(true);">{{ lang('DL_MARK_ALL') }}</a> &bull; <a href="javascript:select_switch(false);">{{ lang('DL_UNMARK') }}</a></span>
		</li>
	</ul>

	{% if loops.pagination|length or TOTAL_DL %}
	<br />

	<div class="pagination">
		{{ TOTAL_DL }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}

	</div>
</div>

<div class="panel">
	<div class="inner">

	<fieldset class="fields1">
		{% if not S_MODCP_BUTTON %}
		<h3>{{ lang('DL_MODCP_MOD_SELECT') }}</h3>
		<dl class="dl-option-row">
			<dt><input type="radio" name="action" class="radio" id="sort" value="sort" /><label for="sort"> {{ lang('DL_ORDER') }}</label></dt>
		</dl>
		<dl class="dl-option-row">
			<dt><input type="radio" name="action" class="radio" id="move"  value="move" /><label for="move"> {{ lang('DL_MOVE') }}</label></dt>
			<dd>{{ S_CAT_SELECT }}</dd>
		</dl>
		<dl class="dl-option-row">
			<dt><input type="radio" name="action" class="radio" id="delete"  value="delete" /><label for="delete"> {{ lang('DL_DELETE') }}</label></dt>
		</dl>
		<dl class="dl-option-row">
			<dt><input type="radio" name="action" class="radio" id="lock"  value="lock" /><label for="lock"> {{ lang('DL_LOCK') }}</label></dt>
		</dl>
		<dl class="dl-option-row">
			<dt><input type="radio" name="action" class="radio" id="assign"  value="assign" /><label for="assign"> {{ lang('DL_ASSIGN') }}</label></dt>
			<dd><input type="text" name="username" id="username" value="" class="inputbox autowidth" size="20" /> [ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
		</dl>
		{% endif %}
	</fieldset>
	<fieldset class="submit-buttons">
		<input type="submit" class="button2" value="{% if not S_MODCP_BUTTON %}{{ lang('SUBMIT') }}{% else %}{{ lang('BACK_TO_PREV') }}{% endif %}" />
	</fieldset>

	{{ S_HIDDEN_FIELDS }}

	</div>
</div>

</form>

<br />

{% else %}

<div class="panel">
	<div class="inner">
		<span>{{ lang('DL_NO_PERMISSION') }}</span>
	</div>
</div>

{% endif %}

{% endif %}

{% INCLUDE 'dl_footer.html' %}
