<!-- INCLUDE dl_header.html -->

<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	doc_length = {MAX_DOWNLOADS};

	for (i = 0; i < doc_length; i++)
	{
		dl_file = document.getElementById('dlo_id_' + i);
		if (status)
		{
			dl_file.checked = 'checked';
		}
		else
		{
			dl_file.checked = '';
		}
	}
}
// ]]>
</script>

<h2>{L_DL_MODCP_MANAGE}</h2>

<br />

<form method="post" id="select_user" action="{S_DL_MODCP_ACTION}" >

<div class="forabg">
	<div class="inner">

	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{L_DL_DOWNLOAD}</dt>
				<dd class="posts">{L_DL_HACK_AUTOR}</dd>
				<dd class="options dl-cell-block">{L_OPTIONS}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
	<!-- BEGIN manage_row -->
		<li class="row<!-- IF manage_row.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt>{manage_row.MINI_ICON}&nbsp;<a href="{manage_row.U_DOWNLOAD}" class="forumtitle">{manage_row.DESCRIPTION}</a></dt>
				<dd class="posts">{manage_row.USERNAME}</dd>
				<dd class="options dl-cell-block">
					&nbsp;<input type="checkbox" class="permissions-checkbox" name="dlo_id[]" id="dlo_id_{manage_row.S_ROW_COUNT}" value="{manage_row.FILE_ID}" />&nbsp;
					<!-- IF SORT -->
					&nbsp;<a href="{manage_row.U_UP}" class="button button-icon-only"><i class="icon fa-chevron-up fa-fw" aria-hidden="true" title="{L_DL_UP}"></i><span class="sr-only">{L_DL_UP}</span></a>
					&nbsp;<a href="{manage_row.U_DOWN}" class="button button-icon-only"><i class="icon fa-chevron-down fa-fw" aria-hidden="true" title="{L_DL_DOWN}"></i><span class="sr-only">{L_DL_DOWN}</span></a>
					<!-- ENDIF -->
					&nbsp;<a href="{manage_row.U_EDIT}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true" title="{L_DL_EDIT_FILE}"></i><span class="sr-only">{L_DL_EDIT_FILE}</span></a>
				</dd>
 			</dl>
 		</li>
	<!-- END manage_row -->
	</ul>

	</div>
</div>

<div class="panel">
	<div class="inner">

	<fieldset class="submit-buttons">
		<!-- IF not S_MODCP_BUTTON -->
		<select name="action">
			<option value="manage">{L_DL_MODCP_MOD_SELECT}</option>
			<option value="sort">{L_DL_ORDER}</option>
			<option value="move">{L_DL_MOVE}</option>
			<option value="delete">{L_DL_DELETE}</option>
			<option value="lock">{L_DL_LOCK}</option>
			<option value="assign">{L_DL_ASSIGN}</option>
		</select>
		&nbsp;{S_CAT_SELECT}&nbsp;
		<input type="text" name="username" id="username" value="" class="inputbox autowidth" size="20" /> [ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]
		<!-- ENDIF -->
		&nbsp;<input type="submit" class="submit" value="<!-- IF not S_MODCP_BUTTON -->{L_SUBMIT}<!-- ELSE -->{L_BACK_TO_PREV}<!-- ENDIF -->" />
	</fieldset>

	{S_HIDDEN_FIELDS}

	</div>
</div>

</form>

<!-- IF .pagination or TOTAL_DL -->
	<div class="pagination">
		{TOTAL_DL}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<ul class="linklist">
	<li class="rightside">
		<span><!-- IF S_SORT_ASC --><a href="{U_SORT_ASC}">{DL_ABC}</a> :: <!-- ENDIF --><a href="javascript:select_switch(true);">{L_DL_MARK_ALL}</a> :: <a href="javascript:select_switch(false);">{L_DL_UNMARK}</a></span>
	</li>
</ul>

<br />

<!-- INCLUDE dl_footer.html -->
