{% INCLUDE '@oxpus_dlext/helpers/dl_header.html' %}

<h2 class="solo">{{ lang('DL_OVERVIEW_TITLE') }}</h2>

	<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{{ lang('DL_NAME') }}</dt>
					<dd class="topics">{{ lang('DL_FILE_SIZE') }}</dd>
					<dd class="posts">{{ lang('DL_KLICKS') }} /<br>{{ lang('DL_OVERALL_KLICKS') }}</dd>
					{% if S_DL_ENABLE_RATE %}
					<dd class="lastpost dl-cell-clock">{{ lang('DL_RATING') }}</dd>
					{% endif %}
				</dl>
			</li>
		</ul>
		{% if S_DL_OVERALL_VIEW %}
		<ul class="topiclist forums">
			{% for downloads in loops.downloads %}
			<li class="row">
				<dl>
					<dt>
						{% INCLUDE '@oxpus_dlext/helpers/dl_filestatus.html' %}
						<a href="{{ downloads.U_DL_LINK }}"><label>{{ downloads.DL_DESCRIPTION }}</label></a>{{ downloads.DL_HACK_VERSION }}
						{% INCLUDE '@oxpus_dlext/helpers/dl_miniimg.html' %}
						{% EVENT oxpus_dlext_overview_download_title_append %}
						{% if downloads.S_DISPLAY_THUMBNAIL %}
						<div>
							<br>
							<a href="{{ downloads.U_DL_LINK }}">
								<img src="{{ downloads.DL_THUMBNAIL_PIC }}" alt="{{ downloads.DL_DESCRIPTION }}" title="{{ downloads.DL_DESCRIPTION }}" class="dl-thumb-box">
							</a>
						</div>
						{% endif %}
						<br>{{ lang('DL_CAT_NAME') }}{{ lang('COLON') }} <a href="{{ downloads.U_DL_CAT_VIEW }}">{{ downloads.DL_CAT_NAME }}</a>
					</dt>
					<dd class="topics">{{ downloads.DL_FILE_SIZE }}</dd>
					<dd class="posts">{{ downloads.DL_FILE_KLICKS }} | {{ downloads.DL_FILE_OVERALL_KLICKS }}</dd>
					{% if S_DL_ENABLE_RATE %}
					<dd class="lastpost"><span>{% INCLUDE '@oxpus_dlext/helpers/dl_rating.html' %}</span></dd>
					{% endif %}
				</dl>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		</div>
	</div>

	{% if loops.pagination|length or DL_TOTAL_DL %}
		<div class="pagination">
			{{ DL_TOTAL_DL }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ DL_PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}

	{% INCLUDE '@oxpus_dlext/helpers/dl_sorting.html' %}

<br>

{% INCLUDE '@oxpus_dlext/helpers/dl_footer.html' %}
