{% INCLUDE '@oxpus_dlext/helpers/dl_header.html' %}

<h2 class="solo">{{ lang('DL_STATS') }}</h2>

{% if S_DL_LATEST_DOWNLOADS %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_LATEST_DOWNLOADS') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ lang('DL_TIME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ lang('USERS') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_latest in loops.top_ten_latest %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_latest.DL_POS }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent"><a href="{{ top_ten_latest.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_latest.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_latest.DL_CAT_NAME }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent"><time datetime="{{ top_ten_latest.DL_TIME_RFC }}">{{ top_ten_latest.DL_TIME }}</time></dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ top_ten_latest.DL_USER_LINK }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_LATEST_UPLOADS %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_LATEST_UPLOADS') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ lang('DL_TIME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ lang('USERS') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_uploads in loops.top_ten_uploads %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_uploads.DL_POS }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent"><a href="{{ top_ten_uploads.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_uploads.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_uploads.DL_CAT_NAME }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-intent"><time datetime="{{ top_ten_uploads.DL_TIME_RFC }}">{{ top_ten_uploads.DL_TIME }}</time></dd>
					<dd class="dl-width-20 dl-cell-block dl-intent">{{ top_ten_uploads.DL_USER_LINK }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_DOWN_MONTH %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_DOWNLOADS_CUR_MONTH') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_KLICKS') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_dl_cur_month in loops.top_ten_dl_cur_month %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_dl_cur_month.DL_POS }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent"><a href="{{ top_ten_dl_cur_month.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_dl_cur_month.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_dl_cur_month.DL_CAT_NAME }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ top_ten_dl_cur_month.DL_KLICKS }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_DOWN_ALL %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_DOWNLOADS_OVERALL') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_OVERALL_KLICKS') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_dl_overall in loops.top_ten_dl_overall %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_dl_overall.DL_POS }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent"><a href="{{ top_ten_dl_overall.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_dl_overall.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_dl_overall.DL_CAT_NAME }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ top_ten_dl_overall.DL_KLICKS }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_TRAFFIC_MONTH %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_TRAFFIC_CUR_MONTH') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_TRAFFIC_CUR_MONTH') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_traffic_cur_month in loops.top_ten_traffic_cur_month %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_traffic_cur_month.DL_POS }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent"><a href="{{ top_ten_traffic_cur_month.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_traffic_cur_month.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_traffic_cur_month.DL_CAT_NAME }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ top_ten_traffic_cur_month.DL_TRAFFIC }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_TRAFFIC_ALL %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_TRAFFIC_OVERALL') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent">{{ lang('DL_FILE_DESCRIPTION') }}</dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ lang('DL_CAT_NAME') }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ lang('DL_TRAFFIC_OVERALL') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_traffic_overall in loops.top_ten_traffic_overall %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_traffic_overall.DL_POS }}</dd>
					<dd class="dl-width-40 dl-cell-block dl-intent"><a href="{{ top_ten_traffic_overall.U_DL_FILE_LINK }}" class="forumtitle">{{ top_ten_traffic_overall.DL_DESCRIPTION }}</a></dd>
					<dd class="dl-width-25 dl-cell-block dl-intent">{{ top_ten_traffic_overall.DL_CAT_NAME }}</dd>
					<dd class="dl-width-30 dl-cell-block dl-intent">{{ top_ten_traffic_overall.DL_TRAFFIC }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_DOWN_CLICKS %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_DOWNLOADS_COUNT') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent">{{ lang('USERNAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ lang('DL_DOWNLOADS_COUNT') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_dl_counts in loops.top_ten_dl_counts %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_dl_counts.DL_POS }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent"><label>{{ top_ten_dl_counts.DL_USER_LINK }}</label></dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ top_ten_dl_counts.DL_COUNTS }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_DOWN_TRAFFIC %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_DOWNLOADS_TRAFFIC') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent">{{ lang('USERNAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ lang('DL_TRAFFIC') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_dl_traffic in loops.top_ten_dl_traffic %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_dl_traffic.DL_POS }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent"><label>{{ top_ten_dl_traffic.DL_USER_LINK }}</label></dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ top_ten_dl_traffic.DL_TRAFFIC }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_UP_COUNT %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_UPLOADS_COUNT') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent">{{ lang('USERNAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ lang('DL_UPLOADS_COUNT') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_up_counts in loops.top_ten_up_counts %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_up_counts.DL_POS }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent"><label>{{ top_ten_up_counts.DL_USER_LINK }}</label></dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ top_ten_up_counts.DL_COUNTS }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if S_DL_TOP10_UP_TRAFFIC %}
<div class="panel dlext">
	<div class="inner">
		<h2>{{ lang('DL_UPLOADS_TRAFFIC') }}</h2>
		<ul class="topiclist">
			<li class="dl-header">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ lang('DL_POS') }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent">{{ lang('USERNAME') }}</dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ lang('DL_TRAFFIC') }}</dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist dlext">
			{% for top_ten_up_traffic in loops.top_ten_up_traffic %}
			<li class="row">
				<dl>
					<dd class="dl-width-5 dl-cell-block dl-text-center dl-text-big">{{ top_ten_up_traffic.DL_POS }}</dd>
					<dd class="dl-width-75 dl-cell-block dl-intent"><label>{{ top_ten_up_traffic.DL_USER_LINK }}</label></dd>
					<dd class="dl-width-20 dl-cell-block dl-text-center">{{ top_ten_up_traffic.DL_TRAFFIC }}</dd>
				</dl>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

<br>

{% INCLUDE '@oxpus_dlext/helpers/dl_footer.html' %}
