{% INCLUDE '@oxpus_dlext/helpers/dl_header.html' %}

<h2>{{ lang('DL_SEARCH_DOWNLOAD') }}</h2>

<br>

<form action="{{ S_DL_SEARCH_ACTION }}" method="post" >

	<div class="panel">
		<div class="inner">

			<h3>{{ lang('SEARCH_FOR') }}</h3>

			<fieldset>

				<dl>
					<dt><label>{{ lang('SEARCH_KEYWORDS') }}</label></dt>
					<dd><input type="text" class="inputbox autowidth" name="search_keywords" size="50" maxlength="255" value=""></dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_SEARCH_AUTHOR') }}</label></dt>
					<dd><input type="text" class="inputbox autowidth" name="search_author" size="50" maxlength="255" value=""></dd>
				</dl>

			</fieldset>

		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">

			<h3>{{ lang('SEARCH_OPTIONS') }}</h3>

			<fieldset>

				<dl>
					<dt><label>{{ lang('DL_CAT_NAME') }}</label></dt>
					<dd class="time">
						<select name="search_cat" size="10">
							<option value="{{ S_DL_CATEGORY_OPTIONS }}" selected>{{ lang('DL_ALL') }}</option>
							{% for search_cat_select in loops.search_cat_select %}
							<option value="{{ search_cat_select.DL_CAT_ID }}">{{ search_cat_select.DL_SEPERATOR }}{{ search_cat_select.DL_CAT_NAME }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('SEARCH_WITHIN') }}</label></dt>
					<dd class="time">
						<select name="search_fields">
							{% for search_field_select in loops.search_field_select %}
							<option value="{{ search_field_select.DL_FIELD }}">{{ search_field_select.DL_NAME }}</option>
							{% endfor %}
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_ORDER') }}</label></dt>
					<dd class="time">
						<select name="sort_dir">
							<option value="ASC"{% if S_DL_SORT_ORDER eq 'ASC' %} selected{% endif %}>{{ lang('ASCENDING') }}</option>
							<option value="DESC"{% if S_DL_SORT_ORDER eq 'DESC' %} selected{% endif %}>{{ lang('DESCENDING') }}</option>
						</select>
					</dd>
				</dl>
				<dl>
					<dt><label>{{ lang('DL_SEARCH_TYPE') }}</label></dt>
					<dd class="time">
						<label><input type="radio" name="search_type" value="0" checked> {{ lang('DL_SEARCH_TYPE_ALL') }}</label><br>
						<label><input type="radio" name="search_type" value="1"> {{ lang('DL_SEARCH_TYPE_SINGLE') }}</label>
					</dd>
				</dl>

			</fieldset>

			<fieldset class="submit-buttons">
				<input type="submit" name="submit" value="{{ lang('SEARCH') }}" class="button icon-button">
				{{ S_FORM_TOKEN }}
			</fieldset>

			</div>

	</div>

</form>

<br>

{% INCLUDE '@oxpus_dlext/helpers/dl_footer.html' %}
