{% INCLUDE 'dl_header.html' %}

<h2>{{ STATUS }} <label>{{ DESCRIPTION }}{{ HACK_VERSION }} {{ MINI_IMG }}</label></h2>

<br />

<form action="{{ S_FORMS_ACTION }}" method="post" {{ ENCTYPE }} id="dl_thumbs">

<div class="panel">
	<div class="inner">

	<h3>{{ lang('DL_EDIT_THUMBS') }}</h3>

	<fieldset>

	<dl>
		<dt><label>{{ lang('DL_FILE_NAME') }}</label></dt>
		<dd><input type="file" name="img_link" class="inputbox" size="60" /><br /><span class="small">{{ DL_THUMB_MAX_SIZE }}</span></dd>
	</dl>
	<dl>
		<dt><label>{{ lang('DL_FILE_DESCRIPTION') }}</label></dt>
		<dd><input type="text" name="img_title" size="70" maxlength="255" value="{{ EDIT_IMG_TITLE }}" class="inputbox autowidth" /></dd>
	</dl>

	</fieldset>

	</div>
</div>

<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button icon-button" />&nbsp;&nbsp;
	<input type="reset" name="reset" value="{{ lang('RESET') }}" class="button icon-button" />&nbsp;&nbsp;
	<input type="submit" name="cancel" value="{{ lang('CANCEL') }}" class="button icon-button" />
</fieldset>

<div>{{ S_FORM_TOKEN }}{{ S_HIDDEN_FIELDS }}</div>

</form>

{% for thumbnails in loops.thumbnails %}
{% if thumbnails.S_FIRST_ROW %}
<br />

<div class="rules">
	<div class="inner">

	{{ lang('DL_THUMB_HINTS') }}

	</div>
</div>

<div class="panel">
	<div class="inner">
{% endif %}

	<div class="dl-left dl-cell-block dl-intent-right dl-thumb-box-manage">
		<div class="dl-thumb-cell">
			<a href="{{ thumbnails.IMG_LINK }}" rel="prettyPhoto[pp_gal]" title="{{ thumbnails.IMG_TITLE }}"><img src="{{ thumbnails.IMG_PIC }}" alt="{{ thumbnails.IMG_TITLE }}" title="{{ thumbnails.IMG_TITLE }}" class="dl-thumb-box" /></a>
		</div>
		<div class="dl-thumb-cell-button">
			<a href="{{ thumbnails.U_DELETE }}" title="{{ lang('DL_DELETE') }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span>{{ lang('DL_DELETE') }}</span></a>
			<a href="{{ thumbnails.U_EDIT }}" title="{{ lang('DL_EDIT_FILE') }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span>{{ lang('DL_EDIT_FILE') }}</span></a>
		</div>
	</div>

{% if thumbnails.S_LAST_ROW %}
	</div>
</div>
{% endif %}
{% endfor %}

<br />

{% INCLUDE 'dl_footer.html' %}
