{% INCLUDE 'dl_header.html' %}

<h2 class="solo dl-left">{{ lang('DL_MOD_TODO') }}</h2>

{% if S_TODO_EDIT %}<br /><ul class="linklist dl-right"><li class="rightside"><a href="{{ U_TODO_ADD }}" class="button icon-button">{{ lang('DL_TODO_ADD') }}</a></li></ul><br />{% endif %}

{% if S_NO_TODOLIST %}
<br /><br /><div class="panel"><strong>{{ lang('DL_NO_MOD_TODO') }}</strong></div>
{% else %}

<div class="forabg">
	<div class="inner">

		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{{ lang('DL_MOD_TODO') }}</dt>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums">
		{% for todolist_row in loops.todolist_row %}
			<li class="row">
				<dl>
					<dt><a href="{{ todolist_row.FILE_LINK }}" class="forumtitle">{{ todolist_row.FILENAME }}</a>&nbsp;<span>{{ todolist_row.HACK_VERSION }}</span><br /><div class="postbody"><div class="notice">{{ todolist_row.TODO }}</div></div></dt>
					<ul class="post-buttons">
						<li>
							<a href="{{ todolist_row.U_TODO_EDIT }}" title="{{ lang('DL_EDIT_FILE') }}" class="button button-icon-only">
								<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DL_EDIT_FILE') }}</span>
							</a>
						</li>
						<li>
							<a href="{{ todolist_row.U_TODO_DELETE }}" title="{{ lang('DL_DELETE') }}" class="button button-icon-only">
								<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DL_DELETE') }}</span>
							</a>
						</li>
					</ul>
				</dl>
			</li>
		{% endfor %}
		</ul>

	</div>
</div>
{% endif %}

<br />

{% INCLUDE 'dl_footer.html' %}
