{% if S_DL_UCP %}
{% INCLUDE 'ucp_header.html' %}
{% else %}
{% INCLUDE 'dl_header.html' %}
{% endif %}
{% if S_FAV_BLOCK %}
<script type="text/javascript">
// <![CDATA[
function select_switch(status)
{
	for (i = {% if S_DL_UCP %}0{% else %}19{% endif %}; i < document.forms.user_dl_config.length; i++)
	{
		document.forms.user_dl_config.elements[i].checked = status;
	}
}
// ]]>
</script>
{% endif %}

<h2>{% if S_DL_UCP %}{{ DL_MOD_RELEASE }}{% else %}{{ lang('DL_CONFIG') }}{% endif %}</h2>

<br />

<form action="{{ S_FORM_ACTION }}" method="post" id="user_dl_config">

{% if S_DL_UCP_CONFIG %}

{% if S_NO_DL_POPUP_NOTIFY %}
<div class="panel">
	<div class="inner">
	<h3>{{ lang('USER_DOWNLOAD_POPUP') }}</h3>

	<fieldset>

		<dl>
			<dt><label>{{ lang('USER_ALLOW_NEW_DOWNLOAD_POPUP') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_allow_new_download_popup" value="1" {{ ALLOW_NEW_DOWNLOAD_POPUP_YES }}/>&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_allow_new_download_popup" value="0" {{ ALLOW_NEW_DOWNLOAD_POPUP_NO }}/>&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('USER_ALLOW_FAV_DOWNLOAD_POPUP') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_allow_fav_download_popup" value="1" {{ ALLOW_FAV_DOWNLOAD_POPUP_YES }}/>&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_allow_fav_download_popup" value="0" {{ ALLOW_FAV_DOWNLOAD_POPUP_NO }}/>&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('USER_DOWNLOAD_NOTIFY_TYPE') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_dl_note_type" value="1" {{ USER_DL_NOTE_TYPE_POPUP }}/>&nbsp;{{ lang('USER_DOWNLOAD_NOTIFY_TYPE_POPUP') }}</label>
				<label><input type="radio" class="radio" name="user_dl_note_type" value="0" {{ USER_DL_NOTE_TYPE_MESSAGE }}/>&nbsp;{{ lang('USER_DOWNLOAD_NOTIFY_TYPE_MESSAGE') }}</label>
				<label><input type="radio" class="radio" name="user_dl_note_type" value="2" {{ USER_DL_NOTE_TYPE_NOTIFY }}/>&nbsp;{{ lang('USER_DOWNLOAD_NOTIFY_TYPE_NOTIFY') }}</label>
			</dd>
		</dl>

	</fieldset>
	</div>
</div>
{% endif %}

{% if S_NO_DL_EMAIL_NOTIFY %}
<div class="panel">
	<div class="inner">
	<h3>{{ lang('USER_DOWNLOAD_EMAIL') }}</h3>

	<fieldset>

		<dl>
			<dt><label>{{ lang('USER_ALLOW_NEW_DOWNLOAD_EMAIL') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_allow_new_download_email" value="1" {{ ALLOW_NEW_DOWNLOAD_EMAIL_YES }}/>&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_allow_new_download_email" value="0" {{ ALLOW_NEW_DOWNLOAD_EMAIL_NO }}/>&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('USER_ALLOW_FAV_DOWNLOAD_EMAIL') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_allow_fav_download_email" value="1" {{ ALLOW_FAV_DOWNLOAD_EMAIL_YES }}/>&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_allow_fav_download_email" value="0" {{ ALLOW_FAV_DOWNLOAD_EMAIL_NO }}/>&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('USER_ALLOW_FAV_COMMENT_EMAIL') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_allow_fav_comment_email" value="1" {{ ALLOW_FAV_COMMENT_EMAIL_YES }}/>&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_allow_fav_comment_email" value="0" {{ ALLOW_FAV_COMMENT_EMAIL_NO }}/>&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>

	</fieldset>
	</div>
</div>
{% endif %}

{% if S_SORT_CONFIG_OPTIONS %}
<div class="panel">
	<div class="inner">
	<h3>{{ lang('SORT_BY') }}</h3>

	<fieldset>

		<dl>
			<dt><label>{{ lang('DL_SORT_USER_OPT') }}</label></dt>
			<dd>
				{{ S_DL_SORT_USER_OPT }}&nbsp;{{ S_DL_SORT_USER_DIR }}&nbsp;<label><input type="checkbox" class="permissions-checkbox" name="user_dl_sort_opt" value="1" {{ S_DL_SORT_USER_EXT }} />&nbsp;{{ lang('DL_SORT_USER_EXT') }}</label>
			</dd>
		</dl>

	</fieldset>
	</div>
</div>
{% endif %}

<div class="panel">
	<div class="inner">
	<h3>{{ lang('DL_CAT_TITLE') }}</h3>

	<fieldset>

		<dl>
			<dt><label>{{ lang('DL_SUB_ON_INDEX') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="user_dl_sub_on_index" value="1" {{ USER_DL_SUB_ON_INDEX_YES }} />&nbsp;{{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="user_dl_sub_on_index" value="0" {{ USER_DL_SUB_ON_INDEX_NO }} />&nbsp;{{ lang('NO') }}</label>
			</dd>
		</dl>

	</fieldset>
	</div>
</div>
{% if not S_FAV_BLOCK %}
<p>&nbsp;</p>
{% endif %}
{% endif %}

{% if S_FAV_BLOCK %}
<div class="panel">
	<div class="inner">

	<h3>{{ lang('DL_FAVORITE') }}</h3>

	<fieldset>

		<table class="table1 dl-width-100">
		<thead>
		<tr class="bg3">
			<td class="dl-width-90"><strong>{{ lang('DOWNLOADS') }}</strong></td>
			<td class="dl-width-10"><strong>{{ lang('DL_DELETE') }}</strong></td>
		</tr>
		</thead>
		<tbody>
		{% for favorite_row in loops.favorite_row %}
		<tr class="bg{% if favorite_row.S_ROW_COUNT is even %}1{% else %}2{% endif %}">
			<td class="dl-width-90"><a href="{{ favorite_row.U_DOWNLOAD }}" class="topictitle">{{ favorite_row.DOWNLOAD }}</a><div class="small">{{ favorite_row.DL_CAT }}</div></td>
			<td class="dl-width-10"><input type="checkbox" name="fav_id[]" value="{{ favorite_row.DL_ID }}" /></td>
		</tr>
		{% endfor %}
		</tbody>
		</table>

	</fieldset>

	</div>
</div>

<div class="dl-right">
	<a href="javascript:select_switch(true);">{{ lang('DL_MARK_ALL') }}</a> ::
	<a href="javascript:select_switch(false);">{{ lang('DL_UNMARK') }}</a>
</div>
{% endif %}

{% if S_DL_UCP_PRIVACY %}
<div class="panel">
	<div class="inner">

	<h3>{{ lang('DL_PRIVACY') }}</h3>

	<p>{{ lang('DL_PRIVACY_EXPLAIN') }}</p>

	<a href="{{ U_DL_PRIVACY_BUGS }}" class="button icon-button"><span>{{ lang('DL_PRIVACY_BUGS') }}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	<a href="{{ U_DL_PRIVACY_COMMENTS }}" class="button icon-button"><span>{{ lang('DL_PRIVACY_COMMENTS') }}</span> <i class="icon fa fa-download fa-fw"></i> </a>
	<a href="{{ U_DL_PRIVACY_STATS }}" class="button icon-button"><span>{{ lang('DL_PRIVACY_STATS') }}</span> <i class="icon fa fa-download fa-fw"></i> </a>

	</div>
</div>
{% endif %}

{% if not S_DL_UCP_PRIVACY %}
<fieldset class="submit-buttons">
{% if S_DL_UCP %}
	<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button2" />&nbsp;<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
{% else %}
	<input type="reset" value="{{ lang('RESET') }}" name="reset" class="button icon-button" />&nbsp;&nbsp;
    <input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button icon-button" />
{% endif %}
	{{ S_FORM_TOKEN }}
</fieldset>
{% endif %}

</form>

<br />

{% if S_DL_UCP %}
{% INCLUDE 'ucp_footer.html' %}
{% else %}
{% INCLUDE 'dl_footer.html' %}
{% endif %}
