{% INCLUDE '@oxpus_dlext/helpers/dl_header.html' %}

<h2 class="dl-left">{{ lang('DL_CAT_TITLE') }}</h2>

<br>

<div id="search-box" class="search-box dl-right" role="search" style="margin-right: 0.7em;">
	<form action="{{ U_DL_SEARCH }}" method="post" id="news_search">
		<fieldset>
			<input name="search_keywords" id="search_keywords" type="search" maxlength="255" title="{{ lang('DL_SEARCH_DOWNLOAD') }}" class="inputbox search tiny" size="20" value="" placeholder="{{ lang('DL_SEARCH_DOWNLOAD') }}">
			<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
				<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
			</button>
			<a href="{{ U_DL_SEARCH }}" class="button button-search-end" title="{{ lang('SEARCH_ADV') }}">
				<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
			</a>
		</fieldset>
	</form>
</div>

<div class="clear"></div>

<br>

<div class="forabg">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{{ lang('DL_CAT_NAME') }} / {{ lang('DL_FILE_DESCRIPTION') }}</dt>
				<dd class="posts">{{ lang('DL_CAT_FILES') }}</dd>
				<dd class="lastpost"><span>{{ lang('DL_LATEST_DOWNLOAD') }}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		{% if S_DL_NO_CATEGORY %}
		<li class="row">
			<dl>
				<dt>{{ lang('DL_NO_CATEGORY_INDEX') }}</dt>
			</dl>
		</li>
		{% else %}
		{% for downloads in loops.downloads %}
		<li class="row dlTooltip" id="{{ downloads.DL_CAT_ID }}">
			<dl>
				<dt{% if S_DL_ENABLE_DESC_HIDE %} title="{{ downloads.DL_CAT_DESC }}"{% endif %}>
					<span class="forum-image">
						{% INCLUDE '@oxpus_dlext/helpers/dl_foldericon.html' %}
					</span>
					{% if downloads.DL_CAT_ICON %}<span class="forum-image"><img src="{{ downloads.DL_CAT_ICON }}" alt="" title="{{ downloads.DL_CAT_NAME }}"></span>{% endif %}
					<a href="{{ downloads.U_DL_CAT_VIEW }}" class="forumtitle">{{ downloads.DL_CAT_NAME }}</a><br>
					{% if not S_DL_ENABLE_DESC_HIDE %}<div class="dl-index-desc"><br>{{ downloads.DL_CAT_DESC }}</div>{% endif %}
					{% if downloads.pagination|length %}
					<div class="pagination">
						<ul>
						{% for pagination in downloads.pagination %}
							{% if pagination.S_IS_PREV %}
							{% elseif pagination.S_IS_CURRENT %}<li class="active"><span>{{ pagination.PAGE_NUMBER }}</span></li>
							{% elseif pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
							{% elseif pagination.S_IS_NEXT %}
							{% else %}<li><a href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if S_DL_SUB_ON_INDEX %}
					{% for sub in downloads.sub %}
					<br>
					{% for sublevel_row in sub.sublevel_row %}
					<div class="dl-padding-left-5">
						{% INCLUDE '@oxpus_dlext/helpers/dl_subfoldericon.html' %}
						{% if sublevel_row.M_DL_SUBLEVEL_ICON %}
						<img src="{{ sublevel_row.M_DL_SUBLEVEL_ICON }}" alt="" title="{{ sublevel_row.L_DL_SUBLEVEL }}" class="dl-subfolder-small">
						{% endif %}
						&nbsp; <a href="{{ sublevel_row.U_DL_SUBLEVEL }}" class="small"{% if sublevel_row.DL_SUBLEVEL_COUNT %} title="{{ sublevel_row.DL_SUBLEVEL_COUNT }} {{ lang('DL_CAT_FILES') }}"{% endif %}><strong>{{ sublevel_row.L_DL_SUBLEVEL }}</strong></a>
					</div>
					{% endfor %}
					{% endfor %}
					{% endif %}
				</dt>
				<dd class="posts">
					<strong>{{ downloads.DL_CAT_DL }}</strong>
				</dd>
				<dd class="lastpost">
					{% if downloads.DL_CAT_LAST_DL %}
					<div class="dl-padding-left-1">
						<a href="{{ downloads.U_DL_CAT_LAST_LINK }}">
							{% INCLUDE '@oxpus_dlext/helpers/dl_filestatus.html' %}
							{{ downloads.DL_CAT_LAST_DL }}
						</a>
						<br>
						<a href="{{ downloads.U_DL_CAT_LAST_USER }}">{{ downloads.DL_CAT_LAST_USER }}</a>
						{% if downloads.DL_CAT_LAST_TIME %}&nbsp;<time datetime="{{ downloads.DL_CAT_LAST_TIME_RFC }}">{{ downloads.DL_CAT_LAST_TIME }}</time>{% endif %}
					</div>
					{% endif %}
				</dd>
			</dl>
		</li>
		{% endfor %}
		{% endif %}
	</ul>

	</div>
</div>

<br>

{% INCLUDE '@oxpus_dlext/helpers/dl_footer.html' %}