<br />

<div class="forabg">
	<div class="inner">
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{{ lang('DL_CAT_NAME') }} / {{ lang('DL_FILE_DESCRIPTION') }}</dt>
				<dd class="posts">{{ lang('DL_CAT_FILES') }}</dd>
				<dd class="lastpost">{{ lang('DL_LATEST_DOWNLOAD') }}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		{% for subcats in loops.subcats %}
		<li class="row dlTooltip" id="{{ subcats.DL_CAT_ID }}">
			<dl>
				<dt{% if S_DL_ENABLE_DESC_HIDE %} title="{{ subcats.DL_CAT_DESC }}"{% endif %}>
					<span class="forum-image">
						{% if subcats.DL_MINI_IMG eq 'new' %}<i class="icon fa-folder{% if subcats.DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-red dl-big" title="{{ lang('DL_NEW') }}"></i>{% endif %}
						{% if subcats.DL_MINI_IMG eq 'edit' %}<i class="icon fa-folder{% if subcats.DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-blue dl-big" title="{{ lang('DL_EDIT') }}"></i>{% endif %}
						{% if subcats.DL_MINI_IMG eq 'new_edit' %}<i class="icon fa-folder{% if subcats.DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-yellow dl-big" title="{{ lang('DL_NEW_EDIT') }}"></i>{% endif %}
						{% if subcats.DL_MINI_IMG eq 'default' %}<i class="icon fa-folder{% if subcats.DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-big" title=""></i>{% endif %}
					</span>
					<span class="forum-image">{% if subcats.DL_CAT_ICON %}<img src="{{ subcats.DL_CAT_ICON }}" alt="" title="{{ subcats.DL_CAT_NAME }}" />{% else %}&nbsp;{% endif %}</span>
					<a href="{{ subcats.U_DL_CAT_VIEW }}" class="forumtitle">{{ subcats.DL_CAT_NAME }}</a><br />
					{% if not S_DL_ENABLE_DESC_HIDE %}<div class="dl-index-desc list-inner"><br />{{ subcats.DL_CAT_DESC }}</div>{% endif %}
					{% if subcats.pagination|length %}
					<div class="pagination">
						<ul>
						{% for pagination in subcats.pagination %}
							{% if pagination.S_IS_PREV %}
							{% elseif pagination.S_IS_CURRENT %}<li class="active"><span>{{ pagination.PAGE_NUMBER }}</span></li>
							{% elseif pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
							{% elseif pagination.S_IS_NEXT %}
							{% else %}<li><a href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if S_DL_SUB_ON_INDEX %}
					{% for sub in subcats.sub %}
					<br />
					{% for sublevel_row in sub.sublevel_row %}
					<div class="dl-padding-left-3-5">
						{% if sublevel_row.M_DL_SUBLEVEL eq 'new' %}<i class="icon fa-folder{% if sublevel_row.M_DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-red" title="{{ lang('DL_NEW') }}"></i>{% endif %}
						{% if sublevel_row.M_DL_SUBLEVEL eq 'edit' %}<i class="icon fa-folder{% if sublevel_row.M_DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-blue" title="{{ lang('DL_EDIT') }}"></i>{% endif %}
						{% if sublevel_row.M_DL_SUBLEVEL eq 'new_edit' %}<i class="icon fa-folder{% if sublevel_row.M_DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw dl-yellow" title="{{ lang('DL_NEW_EDIT') }}"></i>{% endif %}
						{% if sublevel_row.M_DL_SUBLEVEL eq 'default' %}<i class="icon fa-folder{% if sublevel_row.M_DL_SUBLEVEL_SUB %}-open{% endif %} fa-fw" title=""></i>{% endif %}
						{% if sublevel_row.M_DL_SUBLEVEL_ICON %}
						<img src="{{ sublevel_row.M_DL_SUBLEVEL_ICON }}" alt="" title="{{ sublevel_row.L_DL_SUBLEVEL }}" class="dl-subfolder-small" />
						{% endif %}
						&nbsp;<a href="{{ sublevel_row.U_DL_SUBLEVEL }}" class="small"{% if sublevel_row.DL_SUBLEVEL_COUNT %} title="{{ sublevel_row.DL_SUBLEVEL_COUNT }} {{ lang('DL_CAT_FILES') }}"{% endif %}><strong>{{ sublevel_row.L_DL_SUBLEVEL }}</strong></a>
					</div>
					{% endfor %}
					{% endfor %}
					{% endif %}
				</dt>
				<dd class="posts">
					<strong>{{ subcats.DL_CAT_DL }}</strong>
				</dd>
				<dd class="lastpost">
					{% if subcats.DL_CAT_LAST_DL %}
					<div class="dl-padding-left-1">
					    <a href="{{ subcats.U_DL_CAT_LAST_LINK }}">
							{% if subcats.DL_CAT_LAST_ICON eq 'red' %}<i class="icon fa-ban fa-fw dl-red" title="{{ lang('DL_RED_EXPLAIN_PERM') }}"></i>{% endif %}
							{% if subcats.DL_CAT_LAST_ICON eq 'yellow' %}<i class="icon fa-download fa-fw dl-yellow" title="{{ lang('DL_YELLOW_EXPLAIN') }}"></i>{% endif %}
							{% if subcats.DL_CAT_LAST_ICON eq 'green' %}<i class="icon fa-download fa-fw dl-green" title="{{ lang('DL_GREEN_EXPLAIN') }}"></i>{% endif %}
							{% if subcats.DL_CAT_LAST_ICON eq 'white' %}<i class="icon fa-download fa-fw dl-white" title="{{ lang('DL_WHITE_EXPLAIN') }}"></i>{% endif %}
							{% if subcats.DL_CAT_LAST_ICON eq 'blue' %}<i class="icon fa-info-circle fa-fw dl-blue" title="{{ lang('DL_BLUE_EXPLAIN_FOOT') }}"></i>{% endif %}
							{% if subcats.DL_CAT_LAST_ICON eq 'grey' %}<i class="icon fa-globe fa-fw dl-grey" title="{{ lang('DL_GREY_EXPLAIN') }}"></i>{% endif %}
							{{ subcats.DL_CAT_LAST_DL }}
						</a>
						<br />
	                    <a href="{{ subcats.U_DL_CAT_LAST_USER }}">{{ subcats.DL_CAT_LAST_USER }}</a>
						{% if subcats.DL_CAT_LAST_TIME %}&nbsp;<time datetime="{{ subcats.DL_CAT_LAST_TIME_RFC }}">{{ subcats.DL_CAT_LAST_TIME }}</time>{% endif %}
					</div>
                </dd>
                {% endif %}
			</dl>
		</li>
		{% endfor %}
	</ul>

	</div>
</div>
