
.dlext
{
    background-color: #fafafa;
    border: 1px #555555 solid;
}

.dlext2
{
    background-color: #f0f0f0;
    border: 1px #555555 solid;
}

.dlext3
{
    background-color: #fafafa;
    border: 1px #aaaaaa solid;
}

.dlext4
{
    background-color: #f5f5f5;
    border: 1px #aaaaaa solid;
}

.dlbutton1
{
    background-color: #fafafa;
    float: left !important;
    border: 2px #555555 solid;
    width: 40% !important;
    text-align: center;
}
.dlbutton2
{
    background-color: #fafafa;
    float: right !important;
    border: 2px #555555 solid;
    width: 40% !important;
    text-align: center;
}

.downloadbtn
{
    display: block;
    background-color: #005500;
    font-size: 3em;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-right: 3px #aaaaaa solid;
    border-bottom: 3px #aaaaaa solid;
    border-radius: 10px;
    color: #ffffff;
}

.downloadbtn:hover
{
    background-color: #00aa00;
    border-left: 3px #444444 solid;
    border-top: 3px #444444 solid;
    border-right: none;
    border-bottom: none;
}

.downloadbtn>i
{
    font-size: 1em;
}

.noshow
{
    display: none;
}

.footer-box
{
    display: none;
    z-index: 5;
    width: 40%;
    position: fixed;
    bottom: 20%;
    left: 30%;
    border: 1px solid #ccc;
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 12px;
    color: #000000;
    padding: 1em;
}

#dl_new_bg, #dl_help_bg
{
    display:none;
    z-index: 1;
    position: fixed;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    background:#000000;
}

#dl_new_popup, #dl_help_popup
{
    display: none;
    z-index: 2;
    position: fixed;
    width:450px;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #000000;
}

div.dl_new_close, div.dl_help_close
{
	display: block;
	float: right;
    height: 16px;
    width: 16px;
	overflow: hidden;
	text-decoration: none !important;
	background: transparent url("./images/alert_close.png") 0 0 no-repeat;
	margin-top: -7px;
	margin-right: -7px;
    cursor: pointer;
}

div.dl_new_close:hover, div.dl_help_close:hover, .dl-close-footer:hover
{
    background-position: 0 -16px;
}

.dl-close-footer
{
    display: block;
	float: right;
    height: 16px;
    width: 16px;
	overflow: hidden;
	text-decoration: none !important;
	background: transparent url("./images/alert_close.png") 0 0 no-repeat;
	margin-top: -7px;
	margin-right: -7px;
    cursor: pointer;
}

#dl_new_content, #dl_help_content
{
    margin: 8px 14px;
}

#legend, #footer
{
    margin-bottom: 2%;
}

.dl-red
{
    color: #ff0000;
}

.dl-green
{
    color: #009900;
}

.dl-blue
{
    color: #0000ff;
}

.dl-yellow
{
    color: #aaaa00;
}

.dl-grey
{
    color: #666666;
}

.dl-icon-yellow
{
    color: #000099;
    text-shadow: 0 0 2px #aaaa00;
}

.dl-icon-yellow:hover
{
    color: #009900;
    text-shadow: none;
}

.dl-big
{
    font-size: 2em;
}

.dl-text-bold {
    font-weight: bold;
}

.dl-text-top {
    vertical-align: top;
}

.dl-text-left {
    text-align: left;
}

.dl-text-center {
    text-align: center;
}

.dl-text-right {
    text-align: right;
}

.dl-text-underline {
    text-decoration: underline;
}

.dl-text-big {
    font-weight: bold;
    font-size: 1.2em;
}

.dl-left {
    float: left;
}

.dl-right {
    float: right;
}

.dl-top {
    vertical-align: top;
}

.dl-margin-right-small {
    margin-right: 5px;
}

.dl-edit-box-light {
    background-color: #fafafa;
    border: 1px #555555 solid;
}

.dl-edit-box-medium {
    background-color: #f0f0f0;
    border-right: 1px #555555 solid;
    border-bottom: 1px #555555 solid;
}

.dl-edit-version {
    background-color: #ffeeee;
}

.dl-thumb-box {
    max-width: 150px;
    max-height: 100px;
}

.dl-footer-alert {
    background-color: #FFAA44;
}

.dl-cell-block {
    display: block !important;
}

.dl-width-5 {
    width: 5%;
}

.dl-width-10 {
    width: 10%;
}

.dl-width-15 {
    width: 15%;
}

.dl-width-20 {
    width: 20%;
}

.dl-width-25 {
    width: 25%;
}

.dl-width-40 {
    width: 40%;
}

.dl-width-50 {
    width: 50%;
}

.dl-width-75 {
    width: 75%;
}

.dl-width-80 {
    width: 80%;
}

.dl-width-90 {
    width: 90%;
}

.dl-width-95 {
    width: 95%;
}

.dl-width-99 {
    width: 99%;
}

.dl-width-100 {
    width: 100%;
}

.title {
    overflow: auto;
    font-size: 1.2em;
    font-weight: bold;
}

.message {
    overflow: auto;
    font-size: 1.1em;
}

.value {
    font-size: 1.1em;
}

.dl-detail-row {
    list-style-type: none;
    overflow: hidden;
}

.dl-version-row-end {
    clear: both;
    margin: 10px 0 10px 0;
    border-bottom: 1px #aaaaaa solid;
}

.dl-index-desc {
    padding: 0.5em 0 0.5em 4em;
}

.dl-padding-left-1 {
    padding-left: 1em;
}

.dl-padding-left-3-5 {
    padding-left: 3.5em;
}

.dl-subfolder-small {
    max-width: 10px;
    max-height: 10px;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.footer-box {
        width: 95%;
        margin-left: 2% auto;
	}
}

@media (max-width: 950px)
{
	.dlbutton1
	{
	    clear: both;
	    width: auto !important;
	}
	.dlbutton2
	{
	    clear: both;
	    width: auto !important;
	}
}

@media (max-width: 750px)
{
    .footer-box
    {
        top: 60%;
    }
}
