{% INCLUDE '@oxpus_dlext/helpers/dl_header.html' %}

{% if S_DL_ENABLE_RATE %}
<script>
var phpEx = '{{ DL_PHPEX }}';
var dlAjaxUrl = '{{ U_DL_AJAX }}';
</script>
{% endif %}

<h2 class="dl-left">{{ DL_INDEX_CAT_TITLE }}</h2>

<br />

<div class="dl-left">{% if S_DL_UPLOAD %}<a href="{{ DL_UPLOAD }}" class="button icon-button reply-icon">{{ lang('DL_UPLOAD') }}</a>{% endif %}</div>
<div id="search-box" class="search-box dl-right" role="search" style="margin-right: 0.7em;">
	<form action="{{ U_DL_SEARCH }}" method="post" id="news_search">
		<fieldset>
			<input name="search_keywords" id="search_keywords" type="search" maxlength="255" title="{{ lang('DL_SEARCH_DOWNLOAD') }}" class="inputbox search tiny" size="20" value="" placeholder="{{ lang('DL_SEARCH_DOWNLOAD') }}" />
			<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
				<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
			</button>
			<a href="{{ U_DL_SEARCH }}" class="button button-search-end" title="{{ lang('SEARCH_ADV') }}">
				<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH_ADV') }}</span>
			</a>
		</fieldset>
	</form>
</div>

<div class="clear"></div>

<div><strong>{% if DL_MODCP %}{{ lang('MODERATORS') }}{% endif %}</strong> {{ DL_MODCP }}</div>

{% if S_DL_CAT_TRAFFIC %}
<div class="panel bg3">
	<div class="inner">

	<span><strong>{{ DL_CAT_TRAFFIC }}</strong></span>

	</div>
</div>
{% endif %}

{% if S_DL_CAT_RULE %}
<div class="rules">
	<div class="inner">

	<span>{{ DL_CAT_RULE }}</span>

	</div>
</div>
{% endif %}

{% if S_DL_SUBCATS %}{% INCLUDE '@oxpus_dlext/view_dl_subcat_body.html' %}{% endif %}

<br />

{% if S_DL_DOWNLOAD_ROWS %}
<div class="forabg">
	<div class="inner">

	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>
					<div class="list-inner">
						{{ lang('DL_INFO') }} &bull; {{ lang('DL_NAME') }}
						<br />{{ lang('DL_FILE_DESCRIPTION') }}
					</div></dt>
				<dd class="topics">{{ lang('DL_FILE_SIZE') }}</dd>
				<dd class="posts">{{ lang('DL_KLICKS') }}<br />{{ lang('DL_OVERALL_KLICKS') }}</dd>
				{% for comment_header in loops.comment_header %}
				<dd class="lastpost">{% if S_DL_ENABLE_RATE %}{{ lang('DL_RATING') }}{% else %}&nbsp;{% endif %}</dd>
				{% endfor %}
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		{% for downloads in loops.downloads %}
		<li class="row{% if downloads.DL_BROKEN %} dl-reported{% endif %}">
			<dl>
				<dt>
					<div class="list-inner">
						{% if downloads.DL_FILE_STATUS eq 'red' %}<i class="icon fa-ban fa-fw dl-red" title="{{ lang('DL_RED_EXPLAIN_PERM') }}"></i>{% endif %}
						{% if downloads.DL_FILE_STATUS eq 'yellow' %}<i class="icon fa-download fa-fw dl-yellow" title="{{ lang('DL_YELLOW_EXPLAIN') }}"></i>{% endif %}
						{% if downloads.DL_FILE_STATUS eq 'green' %}<i class="icon fa-download fa-fw dl-green" title="{{ lang('DL_GREEN_EXPLAIN') }}"></i>{% endif %}
						{% if downloads.DL_FILE_STATUS eq 'white' %}<i class="icon fa-download fa-fw dl-white" title="{{ lang('DL_WHITE_EXPLAIN') }}"></i>{% endif %}
						{% if downloads.DL_FILE_STATUS eq 'blue' %}<i class="icon fa-info-circle fa-fw dl-blue" title="{{ lang('DL_BLUE_EXPLAIN_FOOT') }}"></i>{% endif %}
						{% if downloads.DL_FILE_STATUS eq 'grey' %}<i class="icon fa-globe fa-fw dl-grey" title="{{ lang('DL_GREY_EXPLAIN') }}"></i>{% endif %}
						<a href="{{ downloads.U_DL_FILE }}" class="forumtitle">{{ downloads.DL_DESCRIPTION }}</a>
						{{ downloads.DL_HACK_VERSION }}
						{% if downloads.DL_MINI_IMG eq 'new' %}<i class="icon fa-comment-o fa-fw dl-red" title="{{ lang('DL_FILE_NEW') }}"></i>{% endif %}
						{% if downloads.DL_MINI_IMG eq 'edit' %}<i class="icon fa-edit fa-fw dl-blue" title="{{ lang('DL_FILE_EDIT') }}"></i>{% endif %}
						{% EVENT oxpus_dlext_category_download_title_append %}
					<br />{{ lang('POST_BY_AUTHOR') }} {{ downloads.DL_ADD_USER }} &raquo; <time datetime="{{ downloads.DL_ADD_TIME_RFC }}">{{ downloads.DL_ADD_TIME }}</time>
					{% if downloads.DL_LONG_DESC %}<hr />{{ downloads.DL_LONG_DESC }}{% endif %}
					</div>
				</dt>
				<dd class="topics">{{ downloads.DL_FILE_SIZE }}</dd>
				<dd class="posts"><div>{{ downloads.DL_FILE_KLICKS }} &bull; {{ downloads.DL_FILE_OVERALL_KLICKS }}</div></dd>
				<dd class="lastpost">
    				{% for comments in downloads.comments %}
					{% if downloads.U_DL_DIRECT_EDIT or comments.U_DL_COMMENT %}
					<ul class="post-buttons">
						{% if downloads.U_DL_DIRECT_EDIT %}
						<li>
							<a href="{{ downloads.U_DL_DIRECT_EDIT }}" title="{{ lang('DL_EDIT_FILE') }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span>{{ lang('DL_EDIT_FILE') }}</span></a>&nbsp;
						</li>
						{% endif %}
						{% if comments.U_COMMENT %}
						<li>
							<a href="{{ comments.U_DL_COMMENT }}" title="{{ lang('DL_COMMENTS') }}" class="button button-icon-only"><i class="icon fa-comments fa-fw" aria-hidden="true"></i><span>{{ lang('DL_COMMENTS') }}</span></a>&nbsp;
						</li>
						{% endif %}
						<li>
							<a href="{{ downloads.U_DL_FILE }}" title="{{ lang('DL_DETAIL') }}" class="button button-icon-only"><i class="icon fa-eye fa-fw" aria-hidden="true"></i><span>{{ lang('DL_DETAIL') }}</span></a>&nbsp;
						</li>
					</ul>
					{% endif %}
    				{% endfor %}
					{% if S_DL_ENABLE_RATE %}<div id="rating_{{ downloads.DL_DF_ID }}" class="dl-rating-image">
						{% if downloads.DL_RATE_TITLE %}<span class="dl-rating" title="{{ downloads.DL_RATE_TITLE}}">{% endif %}
						{% for rating_img in downloads.rating_img %}
						{% if rating_img.DL_RATE_AJAX %}<a href="#" onclick="AJAXDLVote('{{ downloads.DL_DF_ID }}', '{{ rating_img.DL_RATE_AJAX }}'); return false;" class="dl-rating-img">{% endif %}
						{% if rating_img.DL_RATE_STAR eq 'yes' %}<i class="icon fa-star fa-fw dl-green"></i>{% endif %}
						{% if rating_img.DL_RATE_STAR eq 'no' %}<i class="icon fa-star-o fa-fw dl-yellow"></i>{% endif %}
						{% if rating_img.DL_RATE_AJAX %}</a>{% endif %}
						{% endfor %}
						{% if downloads.DL_RATE_UNDO %}<a href="#" onclick="AJAXDLUnvote('{{ downloads.DL_DF_ID }}'); return false;"><i class="icon fa-times-circle fa-fw dl-red"></i></a>{% endif %}
						{% if downloads.DL_RATE_COUNT != '-' %}<span class="dl-rating-count">{{ downloads.DL_RATE_COUNT }}</span>{% endif %}
						{% if downloads.DL_RATE_TITLE %}</span>{% endif %}
					</div>{% endif %}
				</dd>
			</dl>
		</li>
		{% endfor %}
	</ul>

	</div>
</div>
{% endif %}

{% if S_DL_EMPTY_CATEGORY %}
<div class="panel">
	<div class="inner">
	<strong>{{ lang('DL_EMPTY_CATEGORY') }}</strong>
	</div>
</div>
{% endif %}

{% if loops.pagination|length or DL_TOTAL_DL %}
	<div class="pagination">
		{{ DL_TOTAL_DL }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ DL_PAGE_NUMBER }}
		{% endif %}
	</div>
{% endif %}

<br />

<div class="dl-left">{% if S_DL_UPLOAD %}<a href="{{ DL_UPLOAD }}" class="button icon-button reply-icon">{{ lang('DL_UPLOAD') }}</a>{% endif %}</div>

<div class="clear"></div>

{% if S_DL_SORT_OPTIONS %}
<form action="{{ U_DOWNLOADS }}" method="post">

<fieldset>

<p class="dl-text-center">
	{{ lang('SORT_BY') }}
	&nbsp;
	<select name="sort_by" onchange="forms['dl_mod'].submit()">
	<option value="0"{{ DL_SELECTED_0 }}>{{ lang('DL_DEFAULT_SORT') }}</option>
	<option value="1"{{ DL_SELECTED_1 }}>{{ lang('DL_FILE_DESCRIPTION') }}</option>
	<option value="2"{{ DL_SELECTED_2 }}>{{ lang('DL_FILE_NAME') }}</option>
	<option value="3"{{ DL_SELECTED_3 }}>{{ lang('DL_KLICKS') }}</option>
	<option value="4"{{ DL_SELECTED_4 }}>{{ lang('DL_FREE') }}</option>
	<option value="5"{{ DL_SELECTED_5 }}>{{ lang('DL_EXTERN') }}</option>
	<option value="6"{{ DL_SELECTED_6 }}>{{ lang('DL_FILE_SIZE') }}</option>
	<option value="7"{{ DL_SELECTED_7 }}>{{ lang('LAST_UPDATED') }}</option>
	<option value="8"{{ DL_SELECTED_8 }}>{{ lang('DL_RATING') }}</option>
	</select>
	&nbsp;&nbsp;&nbsp;
	{{ lang('DL_ORDER') }}
	&nbsp;
	<select name="order" onchange="forms['dl_mod'].submit()">
	<option value="ASC"{{ DL_SELECTED_SORT_0 }}>{{ lang('ASCENDING') }}</option>
	<option value="DESC"{{ DL_SELECTED_SORT_1 }}>{{ lang('DESCENDING') }}</option>
	</select>
	&nbsp;
	<input type="submit" class="button2" value="{{ lang('GO') }}" />
</p>

</fieldset>

</form>
{% endif %}

<br />

{% INCLUDE '@oxpus_dlext/helpers/dl_footer.html' %}
