{% if DL_ACTION_MODE %}
</div>
{% endif %}

<div class="clear"></div>
<br>

{% if S_DL_FOOTER_LEGEND or S_DL_FOOTER_STATS or U_DL_LATEST_DOWNLOADS or U_DL_OVERALL_VIEW or S_DL_STATS_VIEW_ON or S_DL_TODO_LINK or S_DL_JUMPBOX %}
<hr>
<div class="left-box">

{% if S_DL_FOOTER_LEGEND %}
<div class="jumpbox button legend-footer" id="dl-legend-footer"><span>{{ lang('LEGEND') }}</span></div>
<div id="dl-legend" class="dl-legend-box"><a class="icon dl-close-footer" data-area="legend"></a>

	<h3>{{ lang('LEGEND') }}</h3>

	<ul class="topiclist">
		<li>
			<dl>
				<dt><i class="icon fa-info-circle fa-fw dl-blue"></i></dt>
				<dd>{{ lang('DL_BLUE_EXPLAIN_FOOT') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-ban fa-fw dl-red"></i></dt>
				<dd>{{ lang('DL_RED_EXPLAIN') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-download fa-fw dl-green"></i></dt>
				<dd>{{ lang('DL_GREEN_EXPLAIN') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-download fa-fw dl-grey"></i></dt>
				<dd>{{ lang('DL_GREY_EXPLAIN') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-download fa-fw dl-yellow"></i></dt>
				<dd>{{ lang('DL_YELLOW_EXPLAIN') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-download fa-fw dl-white"></i></dt>
				<dd>{{ lang('DL_WHITE_EXPLAIN') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-comment-o fa-fw dl-red"></i></dt>
				<dd>{{ lang('DL_NEW') }}</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="icon fa-edit fa-fw dl-blue"></i></dt>
				<dd>{{ lang('DL_EDIT') }}</dd>
			</dl>
		</li>
	</ul>
</div>
{% endif %}

{% if S_DL_FOOTER_STATS %}
<div class="jumpbox button stats-footer" id="dl-stats-footer"><span>{{ lang('DL_FOOTER') }}</span></div>
<div id="dl-footer" class="dl-footer-box"><a class="icon dl-close-footer" data-area="footer"></a>

	<h3>{{ lang('DL_FOOTER') }}</h3>

	{% if L_CAN_DOWNLOAD_AGAIN %}
	<div class="small">{{ lang('CAN_DOWNLOAD_AGAIN') }}</div>
	{% endif %}
	{% if DL_ACCOUNT_TRAFFIC %}
	<div class="small">{{ DL_ACCOUNT_TRAFFIC }}</div>
	{% endif %}
	{% if DL_REMAIN_TRAFFIC %}
	<div class="small">{{ DL_REMAIN_TRAFFIC }}</div>
	{% endif %}
	{% if not DL_NO_OVERALL_TRAFFIC %}
	<div class="small"><strong class="dl-text-underline">{{ DL_NO_OVERALL_TRAFFIC }}</strong></div>
	{% endif %}
	{% if DL_REMAIN_GUEST_TRAFFIC %}
	<div class="small">{{ DL_REMAIN_GUEST_TRAFFIC }}</div>
	{% endif %}
	{% if DL_NO_OVERALL_GUEST_TRAFFIC %}
	<div class="small"><strong class="dl-text-underline">{{ DL_NO_OVERALL_GUEST_TRAFFIC }}</strong></div>
	{% endif %}
	{% if DL_TOTAL_STAT %}
	<div class="small">{{ DL_TOTAL_STAT }}</div>
	{% endif %}
    {% if DL_EXT_STATS_OVERALL_TRAFFIC %}
	<div class="small">{{ lang('DL_OVERALL_TRAFFIC') }}{{ lang('COLON') }} {{ DL_EXT_STATS_OVERALL_TRAFFIC }}</div>
	{% endif %}
    {% if DL_EXT_STATS_OVERALL_GUESTS_TRAFFIC %}
	<div class="small">{{ lang('DL_OVERALL_GUEST_TRAFFIC') }}{{ lang('COLON') }} {{ DL_EXT_STATS_OVERALL_GUESTS_TRAFFIC }}</div>
	{% endif %}
    {% if DL_EXT_STATS_MONTH_CLICKS %}
	<div class="small">{{ lang('DL_KLICKS') }}{{ lang('COLON') }} {{ DL_EXT_STATS_MONTH_CLICKS }}</div>
	{% endif %}
</div>
{% endif %}

{% if S_DL_FOOTER_NAV_ON %}
{% if U_DL_LATEST_DOWNLOADS %}<a href="{{ U_DL_LATEST_DOWNLOADS }}" class="button icon-button"><span>{{ lang('DL_LATEST_DOWNLOADS') }}</span></a>&nbsp;{% endif %}
{% if U_DL_OVERALL_VIEW %}<a href="{{ U_DL_OVERALL_VIEW }}" class="button icon-button"><span>{{ lang('DL_OVERVIEW') }}</span></a>&nbsp;{% endif %}
{% if S_DL_STATS_VIEW_ON %}<a href="{{ U_DL_STATS }}" class="button icon-button"><span>{{ lang('DL_STATS') }}</span></a>&nbsp;{% endif %}
{% if S_DL_TODO_LINK %}<a href="{{ U_DL_TODOLIST }}" class="button icon-button"><span>{{ lang('DL_MOD_TODO') }}</span></a>&nbsp;{% endif %}
{% endif %}

</div>
{% endif %}

{% if S_DL_JUMPBOX %}
<div>
{% INCLUDE '@oxpus_dlext/helpers/dl_jumpbox.html' %}
</div>
{% endif %}

<div class="clear"></div>

{% if U_DL_BROKEN_DOWNLOADS %}
<div class="panel dl-footer-alert">
	<div class="inner">
		<a href="{{ U_DL_BROKEN_DOWNLOADS }}" class="forumtitle">{{ lang('DL_BROKEN_OVERVIEW') }}</a>
	</div>
</div>
{% endif %}

{% if U_DL_APPROVE_DOWNLOADS %}
<div class="panel dl-footer-alert">
	<div class="inner">
		<a href="{{ U_DL_APPROVE_DOWNLOADS }}" class="forumtitle">{{ lang('DL_APPROVE_OVERVIEW') }}</a>
	</div>
</div>
{% endif %}

{% if U_DL_APPROVE_COMMENTS %}
<div class="panel dl-footer-alert">
	<div class="inner">
		<a href="{{ U_DL_APPROVE_COMMENTS }}" class="forumtitle">{{ lang('DL_APPROVE_OVERVIEW_COMMENTS') }}</a>
	</div>
</div>
{% endif %}

<div class="copyright">
	<strong>{{ DL_MOD_RELEASE }}</strong>
	{% if S_DL_TRANSLATION %}&bull;&nbsp;{{ lang('DL_TRANSLATION') }}{% endif %}
	{% if U_DL_RSS_FEED %}&bull;&nbsp;<a href="{{ U_DL_RSS_FEED }}">{{ lang('DL_ACP_CONF_RSS') }}</a>{% endif %}
</div>

{% INCLUDE 'overall_footer.html' %}
