{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('MCP') }}</h2>

<div id="tabs" class="tabs">
	<ul>
		<li class="tab{% if S_DL_MCP_TAB_MANAGE %} activetab{% endif %}"><a href="{{ U_DL_MCP_MANAGE }}">{{ lang('DL_DOWNLOADS') }}</a></li>
		<li class="tab{% if S_DL_MCP_TAB_EDIT %} activetab{% endif %}"><a href="{{ U_DL_MCP_EDIT }}">{{ lang('DL_MODCP_EDIT') }}</a></li>
		<li class="tab{% if S_DL_MCP_TAB_APPROVE %} activetab{% endif %}"><a href="{{ U_DL_MCP_APPROVE }}">{{ lang('DL_MODCP_APPROVE') }}</a></li>
		<li class="tab{% if S_DL_MCP_TAB_BROKEN %} activetab{% endif %}"><a href="{{ U_DL_MCP_BROKEN }}">{{ lang('DL_MODCP_BROKEN') }}</a></li>
		<li class="tab{% if S_DL_MCP_TAB_CAPPROVE %} activetab{% endif %}"><a href="{{ U_DL_MCP_CAPPROVE }}">{{ lang('DL_MODCP_CAPPROVE') }}</a></li>
	</ul>
</div>
<div class="panel bg3">
	<div class="inner">
		<div style="width: 100%;">
			<div id="cp-menu" class="cp-menu">
				<div class="navigation responsive-hide" id="navigation" role="navigation">
					<ul>
						{% if U_DL_MCP_MANAGE_OVERVIEW %}
						<li id="active-subsection" class="active{% if S_DL_MCP_OVERVIEW %}-subsection{% endif %}"><a href="{{ U_DL_MCP_MANAGE_OVERVIEW }}"><span>{{ lang('DL_OVERVIEW') }}</span></a></li>
						{% endif %}
						{% if U_DL_MCP_MANAGE_TOOLBOX %}
						<li id="active-subsection" class="active{% if S_DL_MCP_TOOLBOX %}-subsection{% endif %}"><a href="{{ U_DL_MCP_MANAGE_TOOLBOX }}"><span>{{ lang('DL_MODCP_MANAGE') }}</span></a></li>
						{% endif %}
						{% if S_DL_MCP_BROKEN %}
						<li id="active-subsection" class="active{% if not S_DL_BROKEN_VIEW %}-subsection{% endif %}"><a href="{{ U_DL_MCP_MANAGE_BROKEN_OPEN }}"><span>{{ lang('DL_MODCP_QUEUE') }}</span></a></li>
						<li id="active-subsection" class="active{% if S_DL_BROKEN_VIEW %}-subsection{% endif %}"><a href="{{ U_DL_MCP_MANAGE_BROKEN_CLOSE }}"><span>{{ lang('DL_MODCP_BROKEN_CLOSED') }}</span></a></li>
						{% else %}
						<li id="active-subsection" class="active-subsection"><a href=""><span>{{ DL_MCP_TAB_MODULE }}</span></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div id="cp-main" class="cp-main mcp-main panel-container{% if not S_DL_MCP %} dl-width-100{% endif %}">
